In [277]:
import pandas as pd

In [278]:
race_identity = pd.read_csv('../data/master/race_ids_master.csv')

In [279]:
race_identity.head()

   Series_ID  Race_ID     Race_Name  Year
0      10254    24355  Black Canyon  2014
1      10254    29244  Black Canyon  2015
2      10254    34087  Black Canyon  2016
3      10254    38965  Black Canyon  2017
4      10254    48278  Black Canyon  2018

In [280]:
golden_ticket_dict = {
    ('UTMB', 2021): True, 
    ('Javelina', 2021): True,
    ('Bandera', 2022): True,
    ('Tarawera', 2022): True,
    ('Black Canyon', 2022): True,
    ('The Canyons', 2022): True,
    ('UTMB', 2022): True,
    ('Doi Inthanon', 2022): True,
    ('Javelina', 2022): True,
    ('Bandera', 2023): True,
    ('Tarawera', 2023): True,
    ('Black Canyon', 2023): True,
    ('The Canyons', 2023): True,
    ('CCC', 2023): True,
    ('Grindstone', 2023): True,
    ('Nice Cote d Azur', 2023): True,
    ('Javelina', 2023): True,
    ('Doi Inthanon', 2023): True,
    ('Black Canyon', 2024): True,
    ('The Canyons', 2024): True,
    ('CCC', 2024): True,
    ('Javelina', 2024): True,
    ('Black Canyon', 2025): True,
    ('Tarawera', 2025): True,
    ('Chianti (UTCC)', 2025): True,
    ('The Canyons', 2025): True
}

In [281]:
# Clean race names and years
race_identity['Race_Name'] = race_identity['Race_Name'].str.strip().str.replace('\xa0', '', regex=True)
race_identity['Year'] = race_identity['Year'].astype(int)

# Apply dictionary
race_identity['Golden_Ticket'] = race_identity.apply(
    lambda row: golden_ticket_dict.get((row['Race_Name'], row['Year']), False),
    axis=1
)

In [282]:
race_identity['Golden_Ticket'].value_counts()

Golden_Ticket
False    57
True     25
Name: count, dtype: int64

In [283]:
golden_races = race_identity[race_identity['Golden_Ticket'] == True]

In [284]:
golden_races.reset_index(drop=True)

    Series_ID  Race_ID         Race_Name  Year  Golden_Ticket
0       10254    84317      Black Canyon  2022           True
1       10254    93392      Black Canyon  2023           True
2       10254   104108      Black Canyon  2024           True
3       10254   115592      Black Canyon  2025           True
4       50001       22           Bandera  2022           True
5       50001       23           Bandera  2023           True
6       29669   126002    Chianti (UTCC)  2025           True
7         141   141023               CCC  2023           True
8         141   141024               CCC  2024           True
9       37038    37338        Grindstone  2023           True
10      32444    23444  Nice Cote d Azur  2023           True
11        895    89523          Tarawera  2023           True
12        895    89525          Tarawera  2025           True
13        142    14221              UTMB  2021           True
14        142    14222              UTMB  2022           True
15      25273    25073      Doi Inthanon  2022           True
16      25273    25373      Doi Inthanon  2023           True
17      12057    81876          Javelina  2021           True
18      12057    90708          Javelina  2022           True
19      12057    99186          Javelina  2023           True
20      12057   112165          Javelina  2024           True
21       3753    37542       The Canyons  2022           True
22       3753    37543       The Canyons  2023           True
23       3753    37544       The Canyons  2024           True
24       3753    73545       The Canyons  2025           True

In [285]:
race_identity

    Series_ID  Race_ID     Race_Name  Year  Golden_Ticket
0       10254    24355  Black Canyon  2014          False
1       10254    29244  Black Canyon  2015          False
2       10254    34087  Black Canyon  2016          False
3       10254    38965  Black Canyon  2017          False
4       10254    48278  Black Canyon  2018          False
..        ...      ...           ...   ...            ...
77       3753    37541   The Canyons  2021          False
78       3753    37542   The Canyons  2022           True
79       3753    37543   The Canyons  2023           True
80       3753    37544   The Canyons  2024           True
81       3753    73545   The Canyons  2025           True

[82 rows x 5 columns]

In [286]:
# Create a set of (Race_Name, Year) from the DataFrame
df_keys = set(zip(race_identity['Race_Name'].str.strip(), race_identity['Year'].astype(int)))

# Create a set of (Race_Name, Year) from the dictionary
dict_keys = set([key for key, val in golden_ticket_dict.items() if val])

# Find missing entries
missing = dict_keys - df_keys

print("Missing from DataFrame:")
for item in sorted(missing):
    print(item)

Missing from DataFrame:
('Tarawera', 2022)

In [287]:
race_identity.to_csv('../data/master/race_ids_master.csv')

In [18]:
import pandas as pd
import glob
import os

# Set the folder path
folder_path = '../data/raw/utmb_format'

# Find all CSV files in the folder
csv_files_utmb_format = glob.glob(os.path.join(folder_path, '*.csv'))

# Read and combine all CSVs
df_list = []
for file in csv_files_utmb_format:
    temp_df = pd.read_csv(file)
    df_list.append(temp_df)

# Combine into one DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

In [19]:
combined_df.head(28)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Age_Category,Time,Race,Race_Loc,Race_Dist,Race_Date
0,141,141017,1-Sep-17,2017,1,Finisher,hayden hawks,USA,M,20-34,10:24:30,CCC,Courmayeur–Champex–Chamonix,100K,NaN
1,141,141017,1-Sep-17,2017,2,Finisher,marcin swierc,POLAND,M,20-34,10:42:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN
2,141,141017,1-Sep-17,2017,3,Finisher,ludovic pommeret,FRANCE,M,40-44,10:50:47,CCC,Courmayeur–Champex–Chamonix,100K,NaN
3,141,141017,1-Sep-17,2017,4,Finisher,tom evans,UNITED KINGDOM,M,20-34,10:57:44,CCC,Courmayeur–Champex–Chamonix,100K,NaN
4,141,141017,1-Sep-17,2017,5,Finisher,tom owens,UNITED KINGDOM,M,35-39,11:03:48,CCC,Courmayeur–Champex–Chamonix,100K,NaN
5,141,141017,1-Sep-17,2017,6,Finisher,þorbergur jonsson (borbergur jonsson),ICELAND,M,35-39,11:14:22,CCC,Courmayeur–Champex–Chamonix,100K,NaN
6,141,141017,1-Sep-17,2017,7,Finisher,nicolas bouvier-gaz,FRANCE,M,20-34,11:18:33,CCC,Courmayeur–Champex–Chamonix,100K,NaN
7,141,141017,1-Sep-17,2017,8,Finisher,michael jones,UNITED KINGDOM,M,20-34,11:31:50,CCC,Courmayeur–Champex–Chamonix,100K,NaN
8,141,141017,1-Sep-17,2017,9,Finisher,aurelien collet,FRANCE,M,35-39,11:33:10,CCC,Courmayeur–Champex–Chamonix,100K,NaN
9,141,141017,1-Sep-17,2017,10,Finisher,jorge maravilla,USA,M,40-44,11:36:14,CCC,Courmayeur–Champex–Chamonix,100K,NaN
10,141,141017,1-Sep-17,2017,11,Finisher,christophe perrillat,FRANCE,M,35-39,11:40:05,CCC,Courmayeur–Champex–Chamonix,100K,NaN
11,141,141017,1-Sep-17,2017,12,Finisher,alejandro fraguela breijo,SPAIN,M,40-44,11:40:11,CCC,Courmayeur–Champex–Chamonix,100K,NaN
12,141,141017,1-Sep-17,2017,13,Finisher,mike aigroz,SWITZERLAND,M,35-39,11:41:53,CCC,Courmayeur–Champex–Chamonix,100K,NaN
13,141,141017,1-Sep-17,2017,14,Finisher,paddy o leary,IRELAND,M,20-34,11:47:04,CCC,Courmayeur–Champex–Chamonix,100K,NaN
14,141,141017,1-Sep-17,2017,15,Finisher,juan perez torreglosa,SPAIN,M,20-34,11:47:51,CCC,Courmayeur–Champex–Chamonix,100K,NaN
15,141,141017,1-Sep-17,2017,16,Finisher,miguel-angel sanchez-cebrian,SPAIN,M,40-44,11:49:15,CCC,Courmayeur–Champex–Chamonix,100K,NaN
16,141,141017,1-Sep-17,2017,17,Finisher,justin andrews,USA,M,20-34,11:49:47,CCC,Courmayeur–Champex–Chamonix,100K,NaN
17,141,141017,1-Sep-17,2017,18,Finisher,giulio piana,ITALY,M,35-39,11:50:23,CCC,Courmayeur–Champex–Chamonix,100K,NaN
18,141,141017,1-Sep-17,2017,19,Finisher,andris ronimoiss,LATVIA,M,20-34,11:52:25,CCC,Courmayeur–Champex–Chamonix,100K,NaN
19,141,141017,1-Sep-17,2017,20,Finisher,regis durand,FRANCE,M,40-44,11:56:40,CCC,Courmayeur–Champex–Chamonix,100K,NaN
20,141,141017,1-Sep-17,2017,21,Finisher,ryan sandes,SOUTH AFRICA,M,35-39,12:04:39,CCC,Courmayeur–Champex–Chamonix,100K,NaN
21,141,141017,1-Sep-17,2017,22,Finisher,rachid elmorabity,MOROCCO,M,35-39,12:10:01,CCC,Courmayeur–Champex–Chamonix,100K,NaN
22,141,141017,1-Sep-17,2017,23,Finisher,harry jones,UNITED KINGDOM,M,20-34,12:10:12,CCC,Courmayeur–Champex–Chamonix,100K,NaN
23,141,141017,1-Sep-17,2017,24,Finisher,erik clavery,FRANCE,M,35-39,12:12:56,CCC,Courmayeur–Champex–Chamonix,100K,NaN
24,141,141017,1-Sep-17,2017,25,Finisher,juan maria jimenez llorens,SPAIN,M,20-34,12:13:18,CCC,Courmayeur–Champex–Chamonix,100K,NaN
25,141,141017,1-Sep-17,2017,26,Finisher,clare gallagher,USA,F,20-34,12:13:57,CCC,Courmayeur–Champex–Chamonix,100K,NaN
26,141,141017,1-Sep-17,2017,27,Finisher,anonymous,LUXEMBOURG,M,35-39,12:20:46,CCC,Courmayeur–Champex–Chamonix,100K,NaN
27,141,141017,1-Sep-17,2017,28,Finisher,francesco rigodanza,ITALY,M,20-34,12:22:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN

In [20]:
# Step 1: Filter out DNFs only
df_finished = combined_df[combined_df['Status'].str.upper() != 'DNF'].copy()

# Step 2: Sort by Race_ID, Gender, and Time
df_finished = df_finished.sort_values(by=['Race_ID', 'Gender', 'Time'])

# Step 3: Assign Gender_Rank
df_finished['Gender_Rank'] = df_finished.groupby(['Race_ID', 'Gender']).cumcount() + 1

# Step 4: Merge back using Race_ID and Name
df = combined_df.merge(
    df_finished[['Race_ID', 'Name', 'Gender', 'Time', 'Gender_Rank']],
    on=['Race_ID', 'Name', 'Gender', 'Time'],
    how='left'
)

In [21]:
df.head(29)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Age_Category,Time,Race,Race_Loc,Race_Dist,Race_Date,Gender_Rank
0,141,141017,1-Sep-17,2017,1,Finisher,hayden hawks,USA,M,20-34,10:24:30,CCC,Courmayeur–Champex–Chamonix,100K,NaN,1.0
1,141,141017,1-Sep-17,2017,2,Finisher,marcin swierc,POLAND,M,20-34,10:42:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN,2.0
2,141,141017,1-Sep-17,2017,3,Finisher,ludovic pommeret,FRANCE,M,40-44,10:50:47,CCC,Courmayeur–Champex–Chamonix,100K,NaN,3.0
3,141,141017,1-Sep-17,2017,4,Finisher,tom evans,UNITED KINGDOM,M,20-34,10:57:44,CCC,Courmayeur–Champex–Chamonix,100K,NaN,4.0
4,141,141017,1-Sep-17,2017,5,Finisher,tom owens,UNITED KINGDOM,M,35-39,11:03:48,CCC,Courmayeur–Champex–Chamonix,100K,NaN,5.0
5,141,141017,1-Sep-17,2017,6,Finisher,þorbergur jonsson (borbergur jonsson),ICELAND,M,35-39,11:14:22,CCC,Courmayeur–Champex–Chamonix,100K,NaN,6.0
6,141,141017,1-Sep-17,2017,7,Finisher,nicolas bouvier-gaz,FRANCE,M,20-34,11:18:33,CCC,Courmayeur–Champex–Chamonix,100K,NaN,7.0
7,141,141017,1-Sep-17,2017,8,Finisher,michael jones,UNITED KINGDOM,M,20-34,11:31:50,CCC,Courmayeur–Champex–Chamonix,100K,NaN,8.0
8,141,141017,1-Sep-17,2017,9,Finisher,aurelien collet,FRANCE,M,35-39,11:33:10,CCC,Courmayeur–Champex–Chamonix,100K,NaN,9.0
9,141,141017,1-Sep-17,2017,10,Finisher,jorge maravilla,USA,M,40-44,11:36:14,CCC,Courmayeur–Champex–Chamonix,100K,NaN,10.0
10,141,141017,1-Sep-17,2017,11,Finisher,christophe perrillat,FRANCE,M,35-39,11:40:05,CCC,Courmayeur–Champex–Chamonix,100K,NaN,11.0
11,141,141017,1-Sep-17,2017,12,Finisher,alejandro fraguela breijo,SPAIN,M,40-44,11:40:11,CCC,Courmayeur–Champex–Chamonix,100K,NaN,12.0
12,141,141017,1-Sep-17,2017,13,Finisher,mike aigroz,SWITZERLAND,M,35-39,11:41:53,CCC,Courmayeur–Champex–Chamonix,100K,NaN,13.0
13,141,141017,1-Sep-17,2017,14,Finisher,paddy o leary,IRELAND,M,20-34,11:47:04,CCC,Courmayeur–Champex–Chamonix,100K,NaN,14.0
14,141,141017,1-Sep-17,2017,15,Finisher,juan perez torreglosa,SPAIN,M,20-34,11:47:51,CCC,Courmayeur–Champex–Chamonix,100K,NaN,15.0
15,141,141017,1-Sep-17,2017,16,Finisher,miguel-angel sanchez-cebrian,SPAIN,M,40-44,11:49:15,CCC,Courmayeur–Champex–Chamonix,100K,NaN,16.0
16,141,141017,1-Sep-17,2017,17,Finisher,justin andrews,USA,M,20-34,11:49:47,CCC,Courmayeur–Champex–Chamonix,100K,NaN,17.0
17,141,141017,1-Sep-17,2017,18,Finisher,giulio piana,ITALY,M,35-39,11:50:23,CCC,Courmayeur–Champex–Chamonix,100K,NaN,18.0
18,141,141017,1-Sep-17,2017,19,Finisher,andris ronimoiss,LATVIA,M,20-34,11:52:25,CCC,Courmayeur–Champex–Chamonix,100K,NaN,19.0
19,141,141017,1-Sep-17,2017,20,Finisher,regis durand,FRANCE,M,40-44,11:56:40,CCC,Courmayeur–Champex–Chamonix,100K,NaN,20.0
20,141,141017,1-Sep-17,2017,21,Finisher,ryan sandes,SOUTH AFRICA,M,35-39,12:04:39,CCC,Courmayeur–Champex–Chamonix,100K,NaN,21.0
21,141,141017,1-Sep-17,2017,22,Finisher,rachid elmorabity,MOROCCO,M,35-39,12:10:01,CCC,Courmayeur–Champex–Chamonix,100K,NaN,22.0
22,141,141017,1-Sep-17,2017,23,Finisher,harry jones,UNITED KINGDOM,M,20-34,12:10:12,CCC,Courmayeur–Champex–Chamonix,100K,NaN,23.0
23,141,141017,1-Sep-17,2017,24,Finisher,erik clavery,FRANCE,M,35-39,12:12:56,CCC,Courmayeur–Champex–Chamonix,100K,NaN,24.0
24,141,141017,1-Sep-17,2017,25,Finisher,juan maria jimenez llorens,SPAIN,M,20-34,12:13:18,CCC,Courmayeur–Champex–Chamonix,100K,NaN,25.0
25,141,141017,1-Sep-17,2017,26,Finisher,clare gallagher,USA,F,20-34,12:13:57,CCC,Courmayeur–Champex–Chamonix,100K,NaN,1.0
26,141,141017,1-Sep-17,2017,27,Finisher,anonymous,LUXEMBOURG,M,35-39,12:20:46,CCC,Courmayeur–Champex–Chamonix,100K,NaN,26.0
27,141,141017,1-Sep-17,2017,28,Finisher,francesco rigodanza,ITALY,M,20-34,12:22:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN,27.0
28,141,141017,1-Sep-17,2017,29,Finisher,christophe polaszek,FRANCE,M,40-44,12:24:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN,28.0

In [13]:
df['Gender_Rank'] = df['Gender_Rank'].astype('Int64')

In [14]:
df.head(50)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Age_Category,Time,Race,Race_Loc,Race_Dist,Race_Date,Gender_Rank
0,141,141017,1-Sep-17,2017,1,Finisher,hayden hawks,USA,M,20-34,10:24:30,CCC,Courmayeur–Champex–Chamonix,100K,NaN,1
1,141,141017,1-Sep-17,2017,2,Finisher,marcin swierc,POLAND,M,20-34,10:42:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN,2
2,141,141017,1-Sep-17,2017,3,Finisher,ludovic pommeret,FRANCE,M,40-44,10:50:47,CCC,Courmayeur–Champex–Chamonix,100K,NaN,3
3,141,141017,1-Sep-17,2017,4,Finisher,tom evans,UNITED KINGDOM,M,20-34,10:57:44,CCC,Courmayeur–Champex–Chamonix,100K,NaN,4
4,141,141017,1-Sep-17,2017,5,Finisher,tom owens,UNITED KINGDOM,M,35-39,11:03:48,CCC,Courmayeur–Champex–Chamonix,100K,NaN,5
5,141,141017,1-Sep-17,2017,6,Finisher,þorbergur jonsson (borbergur jonsson),ICELAND,M,35-39,11:14:22,CCC,Courmayeur–Champex–Chamonix,100K,NaN,6
6,141,141017,1-Sep-17,2017,7,Finisher,nicolas bouvier-gaz,FRANCE,M,20-34,11:18:33,CCC,Courmayeur–Champex–Chamonix,100K,NaN,7
7,141,141017,1-Sep-17,2017,8,Finisher,michael jones,UNITED KINGDOM,M,20-34,11:31:50,CCC,Courmayeur–Champex–Chamonix,100K,NaN,8
8,141,141017,1-Sep-17,2017,9,Finisher,aurelien collet,FRANCE,M,35-39,11:33:10,CCC,Courmayeur–Champex–Chamonix,100K,NaN,9
9,141,141017,1-Sep-17,2017,10,Finisher,jorge maravilla,USA,M,40-44,11:36:14,CCC,Courmayeur–Champex–Chamonix,100K,NaN,10
10,141,141017,1-Sep-17,2017,11,Finisher,christophe perrillat,FRANCE,M,35-39,11:40:05,CCC,Courmayeur–Champex–Chamonix,100K,NaN,11
11,141,141017,1-Sep-17,2017,12,Finisher,alejandro fraguela breijo,SPAIN,M,40-44,11:40:11,CCC,Courmayeur–Champex–Chamonix,100K,NaN,12
12,141,141017,1-Sep-17,2017,13,Finisher,mike aigroz,SWITZERLAND,M,35-39,11:41:53,CCC,Courmayeur–Champex–Chamonix,100K,NaN,13
13,141,141017,1-Sep-17,2017,14,Finisher,paddy o leary,IRELAND,M,20-34,11:47:04,CCC,Courmayeur–Champex–Chamonix,100K,NaN,14
14,141,141017,1-Sep-17,2017,15,Finisher,juan perez torreglosa,SPAIN,M,20-34,11:47:51,CCC,Courmayeur–Champex–Chamonix,100K,NaN,15
15,141,141017,1-Sep-17,2017,16,Finisher,miguel-angel sanchez-cebrian,SPAIN,M,40-44,11:49:15,CCC,Courmayeur–Champex–Chamonix,100K,NaN,16
16,141,141017,1-Sep-17,2017,17,Finisher,justin andrews,USA,M,20-34,11:49:47,CCC,Courmayeur–Champex–Chamonix,100K,NaN,17
17,141,141017,1-Sep-17,2017,18,Finisher,giulio piana,ITALY,M,35-39,11:50:23,CCC,Courmayeur–Champex–Chamonix,100K,NaN,18
18,141,141017,1-Sep-17,2017,19,Finisher,andris ronimoiss,LATVIA,M,20-34,11:52:25,CCC,Courmayeur–Champex–Chamonix,100K,NaN,19
19,141,141017,1-Sep-17,2017,20,Finisher,regis durand,FRANCE,M,40-44,11:56:40,CCC,Courmayeur–Champex–Chamonix,100K,NaN,20
20,141,141017,1-Sep-17,2017,21,Finisher,ryan sandes,SOUTH AFRICA,M,35-39,12:04:39,CCC,Courmayeur–Champex–Chamonix,100K,NaN,21
21,141,141017,1-Sep-17,2017,22,Finisher,rachid elmorabity,MOROCCO,M,35-39,12:10:01,CCC,Courmayeur–Champex–Chamonix,100K,NaN,22
22,141,141017,1-Sep-17,2017,23,Finisher,harry jones,UNITED KINGDOM,M,20-34,12:10:12,CCC,Courmayeur–Champex–Chamonix,100K,NaN,23
23,141,141017,1-Sep-17,2017,24,Finisher,erik clavery,FRANCE,M,35-39,12:12:56,CCC,Courmayeur–Champex–Chamonix,100K,NaN,24
24,141,141017,1-Sep-17,2017,25,Finisher,juan maria jimenez llorens,SPAIN,M,20-34,12:13:18,CCC,Courmayeur–Champex–Chamonix,100K,NaN,25
25,141,141017,1-Sep-17,2017,26,Finisher,clare gallagher,USA,F,20-34,12:13:57,CCC,Courmayeur–Champex–Chamonix,100K,NaN,1
26,141,141017,1-Sep-17,2017,27,Finisher,anonymous,LUXEMBOURG,M,35-39,12:20:46,CCC,Courmayeur–Champex–Chamonix,100K,NaN,26
27,141,141017,1-Sep-17,2017,28,Finisher,francesco rigodanza,ITALY,M,20-34,12:22:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN,27
28,141,141017,1-Sep-17,2017,29,Finisher,christophe polaszek,FRANCE,M,40-44,12:24:49,CCC,Courmayeur–Champex–Chamonix,100K,NaN,28
29,141,141017,1-Sep-17,2017,30,Finisher,david calero rodríguez,SPAIN,M,20-34,12:25:07,CCC,Courmayeur–Champex–Chamonix,100K,NaN,29
30,141,141017,1-Sep-17,2017,31,Finisher,maite maiora elizondo,SPAIN,F,35-39,12:26:41,CCC,Courmayeur–Champex–Chamonix,100K,NaN,2
31,141,141017,1-Sep-17,2017,32,Finisher,roberto mastrotto,ITALY,M,20-34,12:26:57,CCC,Courmayeur–Champex–Chamonix,100K,NaN,30
32,141,141017,1-Sep-17,2017,33,Finisher,longfei yan,CHINA,M,20-34,12:27:11,CCC,Courmayeur–Champex–Chamonix,100K,NaN,31
33,141,141017,1-Sep-17,2017,34,Finisher,clement durance,FRANCE,M,20-34,12:37:30,CCC,Courmayeur–Champex–Chamonix,100K,NaN,32
34,141,141017,1-Sep-17,2017,35,Finisher,stephane eveque-mourroux,FRANCE,M,35-39,12:40:05,CCC,Courmayeur–Champex–Chamonix,100K,NaN,33
35,141,141017,1-Sep-17,2017,36,Finisher,jonatan mora,SPAIN,M,20-34,12:41:52,CCC,Courmayeur–Champex–Chamonix,100K,NaN,34
36,141,141017,1-Sep-17,2017,37,Finisher,christian pizzatti,ITALY,M,40-44,12:42:12,CCC,Courmayeur–Champex–Chamonix,100K,NaN,35
37,141,141017,1-Sep-17,2017,38,Finisher,moises jimenez,VENEZUELA,M,20-34,12:46:44,CCC,Courmayeur–Champex–Chamonix,100K,NaN,36
38,141,141017,1-Sep-17,2017,39,Finisher,laia canes,SPAIN,F,20-34,12:47:39,CCC,Courmayeur–Champex–Chamonix,100K,NaN,3
39,141,141017,1-Sep-17,2017,40,Finisher,lawrence eccles,UNITED KINGDOM,M,20-34,12:47:47,CCC,Courmayeur–Champex–Chamonix,100K,NaN,37
40,141,141017,1-Sep-17,2017,41,Finisher,chris streeter,USA,M,20-34,12:49:04,CCC,Courmayeur–Champex–Chamonix,100K,NaN,38
41,141,141017,1-Sep-17,2017,42,Finisher,yannick bernasconi,SWITZERLAND,M,20-34,12:49:36,CCC,Courmayeur–Champex–Chamonix,100K,NaN,39
42,141,141017,1-Sep-17,2017,43,Finisher,satoshi sugimoto,JAPAN,M,20-34,12:51:20,CCC,Courmayeur–Champex–Chamonix,100K,NaN,40
43,141,141017,1-Sep-17,2017,44,Finisher,keely henninger,USA,F,20-34,12:51:59,CCC,Courmayeur–Champex–Chamonix,100K,NaN,4
44,141,141017,1-Sep-17,2017,45,Finisher,marc puig catalan,SPAIN,M,35-39,12:52:18,CCC,Courmayeur–Champex–Chamonix,100K,NaN,41
45,141,141017,1-Sep-17,2017,46,Finisher,bruno sousa,PORTUGAL,M,20-34,12:54:10,CCC,Courmayeur–Champex–Chamonix,100K,NaN,42
46,141,141017,1-Sep-17,2017,47,Finisher,ibon urrutiabeascoa,SPAIN,M,40-44,12:57:13,CCC,Courmayeur–Champex–Chamonix,100K,NaN,43
47,141,141017,1-Sep-17,2017,48,Finisher,ignacio moron-gonzalez,SPAIN,M,45-49,13:03:07,CCC,Courmayeur–Champex–Chamonix,100K,NaN,44
48,141,141017,1-Sep-17,2017,49,Finisher,simon desvaux de marigny,MAURITIUS,M,35-39,13:04:41,CCC,Courmayeur–Champex–Chamonix,100K,NaN,45
49,141,141017,1-Sep-17,2017,50,Finisher,aitzol jimenez-arrieta,SPAIN,M,35-39,13:05:20,CCC,Courmayeur–Champex–Chamonix,100K,NaN,46

In [132]:
df.shape

(50622, 15)

In [133]:
combined_df.shape

(50620, 14)

In [149]:
df['Age_Category'].value_counts()

Age_Category
40-44    10399
20-34     9931
45-49     9420
35-39     9072
50-54     6470
55-59     3337
60-64     1412
65-69      386
70-74      109
80+         62
75-79       16
U20          6
U18          2
Name: count, dtype: int64

In [148]:
df.to_csv('../data/utmb_format_master_df.csv', index = False, encoding = 'utf-8')

In [230]:
df['Nationality'].value_counts()

Nationality
FRANCE            15643
USA                5293
SPAIN              3645
ITALY              2929
UNITED KINGDOM     2414
                  ...
ARMENIA               1
BOTSWANA              1
BAHAMAS               1
NORTH KOREA           1
VANUATU               1
Name: count, Length: 143, dtype: int64

In [231]:
unique_nation = df['Nationality'].dropna().unique().tolist()
print(unique_nation)

['USA', 'POLAND', 'FRANCE', 'UNITED KINGDOM', 'ICELAND', 'SPAIN', 'SWITZERLAND', 'IRELAND', 'ITALY', 'LATVIA', 'SOUTH AFRICA', 'MOROCCO', 'LUXEMBOURG', 'CHINA', 'VENEZUELA', 'JAPAN', 'PORTUGAL', 'MAURITIUS', 'NEW ZEALAND', 'SWEDEN', 'ARGENTINA', 'SLOVAKIA', 'GERMANY', 'ALGERIA', 'AUSTRALIA', 'CAMBODIA', 'NORWAY', 'CROATIA', 'MEXICO', 'COLOMBIA', 'CANADA', 'NETHERLANDS', 'BRAZIL', 'TÜRKIYE', 'BELGIUM', 'CHILE', 'SOUTH KOREA', 'DENMARK', 'RUSSIA', 'SLOVENIA', 'UKRAINE', 'SERBIA', 'HUNGARY', 'ROMANIA', 'URUGUAY', 'ANDORRA', 'ECUADOR', 'FINLAND', 'HONG KONG, CHINA', 'BELARUS', 'SINGAPORE', 'CZECH REPUBLIC', 'BULGARIA', 'PERU', 'GREECE', 'PHILIPPINES', 'LITHUANIA', 'MALTA', 'BOSNIA AND HERZEGOVINA', 'THAILAND', 'AUSTRIA', 'ESTONIA', 'CHINESE TAIPEI', 'INDONESIA', 'VIETNAM', 'INDIA', 'MALAYSIA', 'COSTA RICA', 'ISRAEL', 'SAUDI ARABIA', 'NIGER', 'MOLDOVA', 'EGYPT', 'MONTENEGRO', 'KOSOVO', 'IRAN', 'EL SALVADOR', 'LEBANON', 'PARAGUAY', 'PUERTO RICO', 'OMAN', 'ALBANIA', 'BENIN', 'NORTH MACEDONIA (REPUBLIC OF)', 'TUNISIA', 'NEPAL', 'QATAR', 'DOMINICAN REPUBLIC', 'SAN MARINO', 'NICARAGUA', 'GUATEMALA', 'GAMBIA', 'MONACO', 'KYRGYZSTAN', 'KENYA', 'BOLIVIA', 'BAHRAIN', 'MACAO, CHINA', 'TOGO', 'CYPRUS', 'KUWAIT', 'NAMIBIA', 'ZIMBABWE', 'UGANDA', 'LIECHTENSTEIN', 'HAITI', 'SWAZILAND', 'MONGOLIA', 'CAMEROON', 'KAZAKHSTAN', 'NEUTRAL ATHLETE', 'UNITED ARAB EMIRATES', 'MADAGASCAR', 'AFGHANISTAN', 'HONDURAS', 'GEORGIA', 'JORDAN', 'AZERBAIJAN', 'BANGLADESH', 'SENEGAL', 'BRUNEI', 'KINGDOM', 'ZEALAND', 'KOREA', 'AMERICA', 'TAIPEI', 'AFRICA', 'ATHLETE', 'SAO TOME AND PRINCIPE', 'PANAMA', 'CONGO', 'JAMAICA', 'FRENCH POLYNESIA', 'IRAQ', 'UZBEKISTAN', 'PAKISTAN', 'NORTHERN MARIANA ISLANDS', 'SOUTH SUDAN', 'ARMENIA', 'BOTSWANA', 'BAHAMAS', 'NORTH KOREA', 'VANUATU']

In [232]:
country_to_code = {
    'AMERICA': 'USA',
    'USA': 'USA',
    'POLAND': 'POL',
    'FRANCE': 'FRA',
    'UNITED KINGDOM': 'GBR',
    'ICELAND': 'ISL',
    'SPAIN': 'ESP',
    'SWITZERLAND': 'CHE',
    'IRELAND': 'IRL',
    'ITALY': 'ITA',
    'LATVIA': 'LVA',
    'SOUTH AFRICA': 'ZAF',
    'MOROCCO': 'MAR',
    'LUXEMBOURG': 'LUX',
    'CHINA': 'CHN',
    'VENEZUELA': 'VEN',
    'JAPAN': 'JPN',
    'PORTUGAL': 'PRT',
    'MAURITIUS': 'MUS',
    'NEW ZEALAND': 'NZL',
    'SWEDEN': 'SWE',
    'ARGENTINA': 'ARG',
    'SLOVAKIA': 'SVK',
    'GERMANY': 'DEU',
    'ALGERIA': 'DZA',
    'AUSTRALIA': 'AUS',
    'CAMBODIA': 'KHM',
    'NORWAY': 'NOR',
    'CROATIA': 'HRV',
    'MEXICO': 'MEX',
    'COLOMBIA': 'COL',
    'CANADA': 'CAN',
    'NETHERLANDS': 'NLD',
    'BRAZIL': 'BRA',
    'TÜRKIYE': 'TUR',
    'BELGIUM': 'BEL',
    'CHILE': 'CHL',
    'SOUTH KOREA': 'KOR',
    'DENMARK': 'DNK',
    'RUSSIA': 'RUS',
    'SLOVENIA': 'SVN',
    'UKRAINE': 'UKR',
    'SERBIA': 'SRB',
    'HUNGARY': 'HUN',
    'ROMANIA': 'ROU',
    'URUGUAY': 'URY',
    'ANDORRA': 'AND',
    'ECUADOR': 'ECU',
    'FINLAND': 'FIN',
    'HONG KONG, CHINA': 'HKG',
    'BELARUS': 'BLR',
    'SINGAPORE': 'SGP',
    'CZECH REPUBLIC': 'CZE',
    'BULGARIA': 'BGR',
    'PERU': 'PER',
    'GREECE': 'GRC',
    'PHILIPPINES': 'PHL',
    'LITHUANIA': 'LTU',
    'MALTA': 'MLT',
    'BOSNIA AND HERZEGOVINA': 'BIH',
    'THAILAND': 'THA',
    'AUSTRIA': 'AUT',
    'ESTONIA': 'EST',
    'CHINESE TAIPEI': 'TWN',
    'INDONESIA': 'IDN',
    'VIETNAM': 'VNM',
    'INDIA': 'IND',
    'MALAYSIA': 'MYS',
    'COSTA RICA': 'CRI',
    'ISRAEL': 'ISR',
    'SAUDI ARABIA': 'SAU',
    'NIGER': 'NER',
    'MOLDOVA': 'MDA',
    'EGYPT': 'EGY',
    'MONTENEGRO': 'MNE',
    'KOSOVO': 'XKX',
    'IRAN': 'IRN',
    'EL SALVADOR': 'SLV',
    'LEBANON': 'LBN',
    'PARAGUAY': 'PRY',
    'PUERTO RICO': 'PRI',
    'OMAN': 'OMN',
    'ALBANIA': 'ALB',
    'BENIN': 'BEN',
    'NORTH MACEDONIA (REPUBLIC OF)': 'MKD',
    'TUNISIA': 'TUN',
    'NEPAL': 'NPL',
    'QATAR': 'QAT',
    'DOMINICAN REPUBLIC': 'DOM',
    'SAN MARINO': 'SMR',
    'NICARAGUA': 'NIC',
    'GUATEMALA': 'GTM',
    'GAMBIA': 'GMB',
    'MONACO': 'MCO',
    'KYRGYZSTAN': 'KGZ',
    'KENYA': 'KEN',
    'BOLIVIA': 'BOL',
    'BAHRAIN': 'BHR',
    'MACAO, CHINA': 'MAC',
    'TOGO': 'TGO',
    'CYPRUS': 'CYP',
    'KUWAIT': 'KWT',
    'NAMIBIA': 'NAM',
    'ZIMBABWE': 'ZWE',
    'UGANDA': 'UGA',
    'LIECHTENSTEIN': 'LIE',
    'HAITI': 'HTI',
    'SWAZILAND': 'SWZ',
    'MONGOLIA': 'MNG',
    'CAMEROON': 'CMR',
    'KAZAKHSTAN': 'KAZ',
    'NEUTRAL ATHLETE': None,
    'UNITED ARAB EMIRATES': 'ARE',
    'MADAGASCAR': 'MDG',
    'AFGHANISTAN': 'AFG',
    'HONDURAS': 'HND',
    'GEORGIA': 'GEO',
    'JORDAN': 'JOR',
    'AZERBAIJAN': 'AZE',
    'BANGLADESH': 'BGD',
    'SENEGAL': 'SEN',
    'BRUNEI': 'BRN',
    'KINGDOM': None,
    'ZEALAND': None,
    'KOREA': None,
    'AMERICA': None,
    'TAIPEI': None,
    'AFRICA': None,
    'ATHLETE': None,
    'SAO TOME AND PRINCIPE': 'STP',
    'PANAMA': 'PAN',
    'CONGO': 'COG',
    'JAMAICA': 'JAM',
    'FRENCH POLYNESIA': 'PYF',
    'IRAQ': 'IRQ',
    'UZBEKISTAN': 'UZB',
    'PAKISTAN': 'PAK',
    'NORTHERN MARIANA ISLANDS': 'MNP',
    'SOUTH SUDAN': 'SSD',
    'ARMENIA': 'ARM',
    'BOTSWANA': 'BWA',
    'BAHAMAS': 'BHS',
    'NORTH KOREA': 'PRK',
    'VANUATU': 'VUT'
}

In [233]:
df['Nationality'] = df['Nationality'].map(country_to_code)

In [235]:
df.head(50)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Age_Category,Time,Race,Race_Loc,Race_Dist,Gender_Rank
0,141,141017,1-Sep-17,2017,1,Finisher,hayden hawks,USA,M,20-34,10:24:30,CCC,Courmayeur–Champex–Chamonix,100K,1
1,141,141017,1-Sep-17,2017,2,Finisher,marcin swierc,POL,M,20-34,10:42:49,CCC,Courmayeur–Champex–Chamonix,100K,2
2,141,141017,1-Sep-17,2017,3,Finisher,ludovic pommeret,FRA,M,40-44,10:50:47,CCC,Courmayeur–Champex–Chamonix,100K,3
3,141,141017,1-Sep-17,2017,4,Finisher,tom evans,GBR,M,20-34,10:57:44,CCC,Courmayeur–Champex–Chamonix,100K,4
4,141,141017,1-Sep-17,2017,5,Finisher,tom owens,GBR,M,35-39,11:03:48,CCC,Courmayeur–Champex–Chamonix,100K,5
5,141,141017,1-Sep-17,2017,6,Finisher,þorbergur jonsson (borbergur jonsson),ISL,M,35-39,11:14:22,CCC,Courmayeur–Champex–Chamonix,100K,6
6,141,141017,1-Sep-17,2017,7,Finisher,nicolas bouvier-gaz,FRA,M,20-34,11:18:33,CCC,Courmayeur–Champex–Chamonix,100K,7
7,141,141017,1-Sep-17,2017,8,Finisher,michael jones,GBR,M,20-34,11:31:50,CCC,Courmayeur–Champex–Chamonix,100K,8
8,141,141017,1-Sep-17,2017,9,Finisher,aurelien collet,FRA,M,35-39,11:33:10,CCC,Courmayeur–Champex–Chamonix,100K,9
9,141,141017,1-Sep-17,2017,10,Finisher,jorge maravilla,USA,M,40-44,11:36:14,CCC,Courmayeur–Champex–Chamonix,100K,10
10,141,141017,1-Sep-17,2017,11,Finisher,christophe perrillat,FRA,M,35-39,11:40:05,CCC,Courmayeur–Champex–Chamonix,100K,11
11,141,141017,1-Sep-17,2017,12,Finisher,alejandro fraguela breijo,ESP,M,40-44,11:40:11,CCC,Courmayeur–Champex–Chamonix,100K,12
12,141,141017,1-Sep-17,2017,13,Finisher,mike aigroz,CHE,M,35-39,11:41:53,CCC,Courmayeur–Champex–Chamonix,100K,13
13,141,141017,1-Sep-17,2017,14,Finisher,paddy o leary,IRL,M,20-34,11:47:04,CCC,Courmayeur–Champex–Chamonix,100K,14
14,141,141017,1-Sep-17,2017,15,Finisher,juan perez torreglosa,ESP,M,20-34,11:47:51,CCC,Courmayeur–Champex–Chamonix,100K,15
15,141,141017,1-Sep-17,2017,16,Finisher,miguel-angel sanchez-cebrian,ESP,M,40-44,11:49:15,CCC,Courmayeur–Champex–Chamonix,100K,16
16,141,141017,1-Sep-17,2017,17,Finisher,justin andrews,USA,M,20-34,11:49:47,CCC,Courmayeur–Champex–Chamonix,100K,17
17,141,141017,1-Sep-17,2017,18,Finisher,giulio piana,ITA,M,35-39,11:50:23,CCC,Courmayeur–Champex–Chamonix,100K,18
18,141,141017,1-Sep-17,2017,19,Finisher,andris ronimoiss,LVA,M,20-34,11:52:25,CCC,Courmayeur–Champex–Chamonix,100K,19
19,141,141017,1-Sep-17,2017,20,Finisher,regis durand,FRA,M,40-44,11:56:40,CCC,Courmayeur–Champex–Chamonix,100K,20
20,141,141017,1-Sep-17,2017,21,Finisher,ryan sandes,ZAF,M,35-39,12:04:39,CCC,Courmayeur–Champex–Chamonix,100K,21
21,141,141017,1-Sep-17,2017,22,Finisher,rachid elmorabity,MAR,M,35-39,12:10:01,CCC,Courmayeur–Champex–Chamonix,100K,22
22,141,141017,1-Sep-17,2017,23,Finisher,harry jones,GBR,M,20-34,12:10:12,CCC,Courmayeur–Champex–Chamonix,100K,23
23,141,141017,1-Sep-17,2017,24,Finisher,erik clavery,FRA,M,35-39,12:12:56,CCC,Courmayeur–Champex–Chamonix,100K,24
24,141,141017,1-Sep-17,2017,25,Finisher,juan maria jimenez llorens,ESP,M,20-34,12:13:18,CCC,Courmayeur–Champex–Chamonix,100K,25
25,141,141017,1-Sep-17,2017,26,Finisher,clare gallagher,USA,F,20-34,12:13:57,CCC,Courmayeur–Champex–Chamonix,100K,1
26,141,141017,1-Sep-17,2017,27,Finisher,anonymous,LUX,M,35-39,12:20:46,CCC,Courmayeur–Champex–Chamonix,100K,26
27,141,141017,1-Sep-17,2017,28,Finisher,francesco rigodanza,ITA,M,20-34,12:22:49,CCC,Courmayeur–Champex–Chamonix,100K,27
28,141,141017,1-Sep-17,2017,29,Finisher,christophe polaszek,FRA,M,40-44,12:24:49,CCC,Courmayeur–Champex–Chamonix,100K,28
29,141,141017,1-Sep-17,2017,30,Finisher,david calero rodríguez,ESP,M,20-34,12:25:07,CCC,Courmayeur–Champex–Chamonix,100K,29
30,141,141017,1-Sep-17,2017,31,Finisher,maite maiora elizondo,ESP,F,35-39,12:26:41,CCC,Courmayeur–Champex–Chamonix,100K,2
31,141,141017,1-Sep-17,2017,32,Finisher,roberto mastrotto,ITA,M,20-34,12:26:57,CCC,Courmayeur–Champex–Chamonix,100K,30
32,141,141017,1-Sep-17,2017,33,Finisher,longfei yan,CHN,M,20-34,12:27:11,CCC,Courmayeur–Champex–Chamonix,100K,31
33,141,141017,1-Sep-17,2017,34,Finisher,clement durance,FRA,M,20-34,12:37:30,CCC,Courmayeur–Champex–Chamonix,100K,32
34,141,141017,1-Sep-17,2017,35,Finisher,stephane eveque-mourroux,FRA,M,35-39,12:40:05,CCC,Courmayeur–Champex–Chamonix,100K,33
35,141,141017,1-Sep-17,2017,36,Finisher,jonatan mora,ESP,M,20-34,12:41:52,CCC,Courmayeur–Champex–Chamonix,100K,34
36,141,141017,1-Sep-17,2017,37,Finisher,christian pizzatti,ITA,M,40-44,12:42:12,CCC,Courmayeur–Champex–Chamonix,100K,35
37,141,141017,1-Sep-17,2017,38,Finisher,moises jimenez,VEN,M,20-34,12:46:44,CCC,Courmayeur–Champex–Chamonix,100K,36
38,141,141017,1-Sep-17,2017,39,Finisher,laia canes,ESP,F,20-34,12:47:39,CCC,Courmayeur–Champex–Chamonix,100K,3
39,141,141017,1-Sep-17,2017,40,Finisher,lawrence eccles,GBR,M,20-34,12:47:47,CCC,Courmayeur–Champex–Chamonix,100K,37
40,141,141017,1-Sep-17,2017,41,Finisher,chris streeter,USA,M,20-34,12:49:04,CCC,Courmayeur–Champex–Chamonix,100K,38
41,141,141017,1-Sep-17,2017,42,Finisher,yannick bernasconi,CHE,M,20-34,12:49:36,CCC,Courmayeur–Champex–Chamonix,100K,39
42,141,141017,1-Sep-17,2017,43,Finisher,satoshi sugimoto,JPN,M,20-34,12:51:20,CCC,Courmayeur–Champex–Chamonix,100K,40
43,141,141017,1-Sep-17,2017,44,Finisher,keely henninger,USA,F,20-34,12:51:59,CCC,Courmayeur–Champex–Chamonix,100K,4
44,141,141017,1-Sep-17,2017,45,Finisher,marc puig catalan,ESP,M,35-39,12:52:18,CCC,Courmayeur–Champex–Chamonix,100K,41
45,141,141017,1-Sep-17,2017,46,Finisher,bruno sousa,PRT,M,20-34,12:54:10,CCC,Courmayeur–Champex–Chamonix,100K,42
46,141,141017,1-Sep-17,2017,47,Finisher,ibon urrutiabeascoa,ESP,M,40-44,12:57:13,CCC,Courmayeur–Champex–Chamonix,100K,43
47,141,141017,1-Sep-17,2017,48,Finisher,ignacio moron-gonzalez,ESP,M,45-49,13:03:07,CCC,Courmayeur–Champex–Chamonix,100K,44
48,141,141017,1-Sep-17,2017,49,Finisher,simon desvaux de marigny,MUS,M,35-39,13:04:41,CCC,Courmayeur–Champex–Chamonix,100K,45
49,141,141017,1-Sep-17,2017,50,Finisher,aitzol jimenez-arrieta,ESP,M,35-39,13:05:20,CCC,Courmayeur–Champex–Chamonix,100K,46

In [257]:
df.to_csv('../data/utmb_format_master_df.csv', index = False, encoding = 'utf-8')

# Map UTMB format age_cateogries to Ultrasignup df

In [255]:
def map_utmb_age_category(age):
    if age < 18:
        return 'U18'
    elif age < 20:
        return 'U20'
    elif age <= 34:
        return '20-34'
    elif age <= 39:
        return '35-39'
    elif age <= 44:
        return '40-44'
    elif age <= 49:
        return '45-49'
    elif age <= 54:
        return '50-54'
    elif age <= 59:
        return '55-59'
    elif age <= 64:
        return '60-64'
    elif age <= 69:
        return '65-69'
    elif age <= 74:
        return '70-74'
    elif age <= 79:
        return '75-79'
    else:
        return '80'

In [154]:
us_df['Age_Category'] = us_df['Age'].apply(map_utmb_age_category)

In [156]:
us_df.head(30)

,Race_ID,Series_ID,Date,Year,Rank,First_Name,Last_Name,Name,City,State,Age,Gender_Div,Div_Place,Time,Status,Race,Race_Loc,Race_Dist,Age_Category
0,22,50001,8-Jan-22,2022,1.0,Jonathan,Rea,Jonathan Rea,Boulder,CO,29.0,M,1.0,8:10:00,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
1,22,50001,8-Jan-22,2022,2.0,Tyler,Fox,Tyler Fox,Lander,WY,29.0,M,2.0,8:14:53,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
2,22,50001,8-Jan-22,2022,3.0,Joseph,McConaughy,Joseph McConaughy,Seattle,WA,30.0,M,3.0,8:17:34,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
3,22,50001,8-Jan-22,2022,4.0,Rod,Farvard,Rod Farvard,Mammoth Lakes,CA,26.0,M,4.0,8:28:39,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
4,22,50001,8-Jan-22,2022,5.0,Jimmy,Elam,Jimmy Elam,Salt Lake City,UT,34.0,M,5.0,8:33:07,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
5,22,50001,8-Jan-22,2022,6.0,David,Hedges,David Hedges,Ithaca,NY,24.0,M,6.0,8:45:31,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
6,22,50001,8-Jan-22,2022,7.0,Tracen,Knopp,Tracen Knopp,Anchorage,AK,23.0,M,7.0,8:46:24,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
7,22,50001,8-Jan-22,2022,8.0,Austin,Horn,Austin Horn,Flagstaff,AZ,24.0,M,8.0,9:02:50,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
8,22,50001,8-Jan-22,2022,9.0,Gabriel,Kline,Gabriel Kline,Acton,MA,24.0,M,9.0,9:05:58,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
9,22,50001,8-Jan-22,2022,10.0,Dmitri,Journist,Dmitri Journist,Salt Lake City,UT,33.0,M,10.0,9:06:21,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
10,22,50001,8-Jan-22,2022,11.0,Jordan,Lafreniere,Jordan Lafreniere,Rockford,MI,38.0,M,11.0,9:11:04,Finisher,Bandera 100k,"Bandera, TX",100K,35-39
11,22,50001,8-Jan-22,2022,12.0,Jean-Francois,Cauchon,Jean-Francois Cauchon,Quebec,QC,28.0,M,12.0,9:11:54,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
12,22,50001,8-Jan-22,2022,13.0,Marianne,Hogan,Marianne Hogan,montreal,QC,31.0,F,1.0,9:17:06,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
13,22,50001,8-Jan-22,2022,14.0,Robert,Landauer,Robert Landauer,Wimberley,TX,37.0,M,13.0,9:19:18,Finisher,Bandera 100k,"Bandera, TX",100K,35-39
14,22,50001,8-Jan-22,2022,15.0,Ellie,Pell,Ellie Pell,Ithaca,NY,30.0,F,2.0,9:49:12,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
15,22,50001,8-Jan-22,2022,16.0,Alex,Hildebrandt,Alex Hildebrandt,Denver,CO,25.0,M,14.0,10:04:45,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
16,22,50001,8-Jan-22,2022,17.0,Leah,Yingling,Leah Yingling,Salt Lake City,UT,30.0,F,3.0,10:05:20,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
17,22,50001,8-Jan-22,2022,18.0,Meghan,Morgan,Meghan Morgan,Boulder,CO,24.0,F,4.0,10:12:52,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
18,22,50001,8-Jan-22,2022,19.0,Brianna,Grigsby,Brianna Grigsby,Tucson,AZ,34.0,F,5.0,10:15:42,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
19,22,50001,8-Jan-22,2022,20.0,Rene,Dorantes,Rene Dorantes,Pasadena,CA,45.0,M,15.0,10:15:50,Finisher,Bandera 100k,"Bandera, TX",100K,45-49
20,22,50001,8-Jan-22,2022,21.0,Riley,Brady,Riley Brady,New Hope,PA,26.0,F,6.0,10:20:19,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
21,22,50001,8-Jan-22,2022,22.0,Tyler,Kilbury,Tyler Kilbury,Minneapolis,MN,36.0,M,16.0,10:23:22,Finisher,Bandera 100k,"Bandera, TX",100K,35-39
22,22,50001,8-Jan-22,2022,23.0,Daniel,Oconor,Daniel Oconor,San Antonio,TX,27.0,M,17.0,10:27:47,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
23,22,50001,8-Jan-22,2022,24.0,Arden,Young,Arden Young,Calgary,AB,36.0,F,7.0,10:28:14,Finisher,Bandera 100k,"Bandera, TX",100K,35-39
24,22,50001,8-Jan-22,2022,25.0,Yiran,Li,Yiran Li,Boulder,CO,28.0,M,18.0,10:33:52,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
25,22,50001,8-Jan-22,2022,26.0,Jeff,Dolan,Jeff Dolan,Glen Mills,PA,43.0,M,19.0,10:35:59,Finisher,Bandera 100k,"Bandera, TX",100K,40-44
26,22,50001,8-Jan-22,2022,27.0,Benjamin,Drexler,Benjamin Drexler,Minneapolis,MN,33.0,M,20.0,10:39:25,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
27,22,50001,8-Jan-22,2022,28.0,Michelle,Magagna,Michelle Magagna,Portage,MI,31.0,F,8.0,10:40:30,Finisher,Bandera 100k,"Bandera, TX",100K,20-34
28,22,50001,8-Jan-22,2022,29.0,Conor,Gillen,Conor Gillen,Saginaw,TX,36.0,M,21.0,10:45:55,Finisher,Bandera 100k,"Bandera, TX",100K,35-39
29,22,50001,8-Jan-22,2022,30.0,Ben,Robinson,Ben Robinson,Tunkhannock,PA,28.0,M,22.0,10:48:28,Finisher,Bandera 100k,"Bandera, TX",100K,20-34

In [157]:
# Set the folder path
folder_path = '../data/ultra_raw_csv/ultrasignup_format'

# Find all CSV files in the folder
csv_files_utmb_format = glob.glob(os.path.join(folder_path, '*.csv'))

# Read and combine all CSVs
df_list = []
for file in csv_files_utmb_format:
    temp_df = pd.read_csv(file)
    df_list.append(temp_df)

# Combine into one DataFrame
ultrasignup_combined_df = pd.concat(df_list, ignore_index=True)

In [158]:
ultrasignup_combined_df.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,City,State,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist
0,50001,22,"Saturday, January 8, 2022",2022,1.0,Finisher,Jonathan Rea,Boulder,CO,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K
1,50001,22,"Saturday, January 8, 2022",2022,2.0,Finisher,Tyler Fox,Lander,WY,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K
2,50001,22,"Saturday, January 8, 2022",2022,3.0,Finisher,Joseph McConaughy,Seattle,WA,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K
3,50001,22,"Saturday, January 8, 2022",2022,4.0,Finisher,Rod Farvard,Mammoth Lakes,CA,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K
4,50001,22,"Saturday, January 8, 2022",2022,5.0,Finisher,Jimmy Elam,Salt Lake City,UT,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K

In [162]:
ultrasignup_combined_df['Age_Category'] = ultrasignup_combined_df['Age'].apply(map_utmb_age_category)

In [207]:
ultrasignup_combined_df['City'] = ultrasignup_combined_df['City'].str.strip().str.title()

In [208]:
ultrasignup_combined_df.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,City,State,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category
0,50001,22,"Saturday, January 8, 2022",2022,1.0,Finisher,Jonathan Rea,Boulder,CO,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34
1,50001,22,"Saturday, January 8, 2022",2022,2.0,Finisher,Tyler Fox,Lander,WY,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34
2,50001,22,"Saturday, January 8, 2022",2022,3.0,Finisher,Joseph McConaughy,Seattle,WA,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34
3,50001,22,"Saturday, January 8, 2022",2022,4.0,Finisher,Rod Farvard,Mammoth Lakes,CA,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34
4,50001,22,"Saturday, January 8, 2022",2022,5.0,Finisher,Jimmy Elam,Salt Lake City,UT,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34

In [165]:
# Get unique state values as a list
unique_states = ultrasignup_combined_df['State'].dropna().unique().tolist()
print(unique_states)

['CO', 'WY', 'WA', 'CA', 'UT', 'NY', 'AK', 'AZ', 'MA', 'MI', 'QC', 'TX', 'PA', 'MN', 'AB', 'MT', 'WI', 'DC', 'MO', 'OR', 'NE', 'FL', 'NM', 'NC', 'GA', 'OH', 'IL', 'IN', 'AR', 'IA', 'VA', 'AL', 'OK', 'KS', 'NJ', 'CT', 'LA', 'TN', 'DIF', 'WV', 'BC', 'VT', 'NV', 'SD', 'ID', 'MD', 'SC', 'MS', 'MB', 'NH', 'ON', 'ND', 'DUR', 'KY', 'ME', 'JAL', 'DE', 'PUE', 'AGU', 'SK', 'NB', 'CRI', 'MEX', 'AUS', 'CHN', 'HI', 'EST', 'JPN', 'BRA', 'ARG', 'SVK', 'NLD', 'YT', 'RI', 'BGR', 'GBR', 'DEU', 'CHL', 'NOR', 'FRA', 'ESP', 'NL', 'BMU', 'ITA', 'CZE', 'POL', 'CHE', 'ABW', 'NS', 'FIN', 'SWE', 'PAN', 'DNK', 'ECU', 'IRL', 'AUT', 'IRN', 'SGP', 'DOM', 'NZL', 'TWN', 'VIR', 'ZAF', 'PRI', 'PER', 'IND', 'GRC', 'ZWE', 'TZA', 'GTM', 'HKG', 'THA', 'SAU', 'PHL', 'MCO', 'ISL', 'BEL', 'RUS', 'HRV', 'CYM', 'COL', 'HUN', 'KEN', 'ARE', 'LTU', 'PRT', 'SVN', 'IDN', 'SLV', 'ROU', 'EGY', 'AE', 'NCL', 'ISR', 'LVA', 'MYS', 'LUX', 'VNM', 'AND', 'KOR']

In [219]:
code_to_country = {
    # United States
    'CO': 'USA', 'WY': 'USA', 'WA': 'USA', 'CA': 'USA', 'UT': 'USA', 'NY': 'USA', 'AK': 'USA', 'AZ': 'USA',
    'MA': 'USA', 'MI': 'USA', 'TX': 'USA', 'PA': 'USA', 'MN': 'USA', 'MT': 'USA', 'WI': 'USA', 'DC': 'USA',
    'MO': 'USA', 'OR': 'USA', 'NE': 'USA', 'FL': 'USA', 'NM': 'USA', 'NC': 'USA', 'GA': 'USA', 'OH': 'USA',
    'IL': 'USA', 'IN': 'USA', 'AR': 'USA', 'IA': 'USA', 'VA': 'USA', 'AL': 'USA', 'OK': 'USA', 'KS': 'USA',
    'NJ': 'USA', 'CT': 'USA', 'LA': 'USA', 'TN': 'USA', 'WV': 'USA', 'VT': 'USA', 'NV': 'USA', 'SD': 'USA',
    'ID': 'USA', 'MD': 'USA', 'SC': 'USA', 'MS': 'USA', 'NH': 'USA', 'ND': 'USA', 'KY': 'USA', 'ME': 'USA',
    'DE': 'USA', 'RI': 'USA', 'HI': 'USA', 'PRI': 'USA', 'VIR': 'USA',

    # Canada
    'QC': 'CAN', 'AB': 'CAN', 'BC': 'CAN', 'MB': 'CAN', 'ON': 'CAN', 'SK': 'CAN', 'NB': 'CAN', 'NS': 'CAN', 'YT': 'CAN',

    # Mexico
    'MEX': 'MEX', 'DIF': 'MEX', 'JAL': 'MEX', 'PUE': 'MEX', 'AGU': 'MEX', 'DUR': 'MEX',

    # Costa Rica
    'CRI': 'CRI',

    # Australia
    'AUS': 'AUS',

    # China
    'CHN': 'CHN',

    # Estonia
    'EST': 'EST',

    # Japan
    'JPN': 'JPN',

    # Brazil
    'BRA': 'BRA',

    # Argentina
    'ARG': 'ARG',

    # Slovakia
    'SVK': 'SVK',

    # Netherlands
    'NLD': 'NLD', 'NL': 'NLD',

    # Bulgaria
    'BGR': 'BGR',

    # United Kingdom
    'GBR': 'GBR',

    # Germany
    'DEU': 'DEU',

    # Chile
    'CHL': 'CHL',

    # Norway
    'NOR': 'NOR',

    # France
    'FRA': 'FRA',

    # Spain
    'ESP': 'ESP',

    # Bermuda
    'BMU': 'BMU',

    # Italy
    'ITA': 'ITA',

    # Czech Republic
    'CZE': 'CZE',

    # Poland
    'POL': 'POL',

    # Switzerland
    'CHE': 'CHE',

    # Aruba
    'ABW': 'ABW',

    # Finland
    'FIN': 'FIN',

    # Sweden
    'SWE': 'SWE',

    # Panama
    'PAN': 'PAN',

    # Denmark
    'DNK': 'DNK',

    # Ecuador
    'ECU': 'ECU',

    # Ireland
    'IRL': 'IRL',

    # Austria
    'AUT': 'AUT',

    # Iran
    'IRN': 'IRN',

    # Singapore
    'SGP': 'SGP',

    # Dominican Republic
    'DOM': 'DOM',

    # New Zealand
    'NZL': 'NZL',

    # Taiwan
    'TWN': 'TWN',

    # South Africa
    'ZAF': 'ZAF',

    # Peru
    'PER': 'PER',

    # India
    'IND': 'IND',

    # Greece
    'GRC': 'GRC',

    # Zimbabwe
    'ZWE': 'ZWE',

    # Tanzania
    'TZA': 'TZA',

    # Guatemala
    'GTM': 'GTM',

    # Hong Kong
    'HKG': 'HKG',

    # Thailand
    'THA': 'THA',

    # Saudi Arabia
    'SAU': 'SAU',

    # Philippines
    'PHL': 'PHL',

    # Monaco
    'MCO': 'MCO',

    # Iceland
    'ISL': 'ISL',

    # Belgium
    'BEL': 'BEL',

    # Russia
    'RUS': 'RUS',

    # Croatia
    'HRV': 'HRV',

    # Cayman Islands
    'CYM': 'CYM',

    # Colombia
    'COL': 'COL',

    # Hungary
    'HUN': 'HUN',

    # Kenya
    'KEN': 'KEN',

    # United Arab Emirates
    'ARE': 'ARE', 'AE': 'ARE',

    # Lithuania
    'LTU': 'LTU',

    # Portugal
    'PRT': 'PRT',

    # Slovenia
    'SVN': 'SVN',

    # Indonesia
    'IDN': 'IDN',

    # El Salvador
    'SLV': 'SLV',

    # Romania
    'ROU': 'ROU',

    # Egypt
    'EGY': 'EGY',

    # New Caledonia
    'NCL': 'NCL',

    # Israel
    'ISR': 'ISR',

    # Latvia
    'LVA': 'LVA',

    # Malaysia
    'MYS': 'MYS',

    # Luxembourg
    'LUX': 'LUX',

    # Vietnam
    'VNM': 'VNM',

    # Andorra
    'AND': 'AND',

    # South Korea
    'KOR': 'KOR'
}

In [220]:
ultrasignup_combined_df['Nationality'] = ultrasignup_combined_df['State'].map(code_to_country)

In [221]:
ultrasignup_combined_df.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,City,State,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,"Saturday, January 8, 2022",2022,1.0,Finisher,Jonathan Rea,Boulder,CO,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,"Saturday, January 8, 2022",2022,2.0,Finisher,Tyler Fox,Lander,WY,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,"Saturday, January 8, 2022",2022,3.0,Finisher,Joseph McConaughy,Seattle,WA,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,"Saturday, January 8, 2022",2022,4.0,Finisher,Rod Farvard,Mammoth Lakes,CA,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,"Saturday, January 8, 2022",2022,5.0,Finisher,Jimmy Elam,Salt Lake City,UT,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [222]:
missing_state_cities = ultrasignup_combined_df[ultrasignup_combined_df['State'].isna()]['City'].dropna().unique().tolist()
print(missing_state_cities)

['Ixelles', 'Erd', 'Cali', 'Barcelona', 'Saint-Paul', 'Panama City', 'Panama', 'Annecy', 'Quillota', 'Kathmandu', 'Paisley', 'Porochi', 'Santo Domingo', 'Windsor', 'Gävle', 'Flims Waldhaus', 'Ciudad Colon', 'Merimbula', 'Moretonhampstead', 'Kettering', 'Coalstoun Lakes', 'Coral Gables Usa', 'Misawa', 'Carrickmacross', 'Handeloh', 'Neuenhagen', 'Beatrice', 'Cape Town', 'Tucson', 'Madrid', 'Warszawa', 'Santa Ana', 'Santiago De Chile', 'Riobamba', 'San Jose', 'Tibas', 'Kyiv', 'Rio De Janeiro', 'Heredia', 'Escazu', 'London', 'Granada', 'Heathfield', 'Stuttgart', 'Kalmar', 'Tromsø', 'Oslo', 'Kanazawa', 'Tokyo', 'Omaha', 'Setagaya', 'Beckenham', 'Miami', 'Piacenza', 'Choluteca', 'Cdmx', 'Basel', 'Noosa Heads', 'Calgary', 'Port Coquitlam', 'Chamonix Mont Blanc', 'Saint Ferréol Les Neiges', 'High Prairie', 'Sainte Catherine', 'Mixquiahuala', 'Mexico City', 'Alajuela', 'Culiacan', 'Cd Juarez', 'Erding', 'Buenos Aires', 'Chamonix', 'Okayama-Shi', 'Matamoros', 'Chester', 'Malmã¶', 'Tourlaville', 'El Minia', 'Aguadilla', 'Stranda', 'Henley On Thames', 'Henley-On-Thames', 'Nerima', 'Mexico', 'Cairns', 'Vienna', 'Dun Laoghaire', 'Edinburgh', 'Coral Gables', 'Scottdale', 'San Luis Obispo', 'Chandler', 'México', 'Bracknell', 'Oberwil', 'Kent', 'Trento', 'Viareggio', 'København K', 'Bagneux', 'Milan', 'Shetland Islands', 'Holmbury St Mary', 'Neustift', 'Belo Horizonte', 'Copenhagen', 'Genk', 'Rødovre', 'Phoenix', 'Champagne', 'Ukmerge', 'Clermont Ferrand', 'St. Thibaud De Couz', 'Asquith', 'Saint Julien', 'Trysil', 'Faverges', 'Tallo', 'Milano', 'Woodford', 'Bishops Stortford', 'Zurich', 'Sydney', 'Zglobice', 'Gijon', 'Cirencester', 'Reading', 'Hong Kong', 'Helsinki', 'Aylesford', 'Slavutich', 'K.K.Dist.', 'Stockport', 'Teddington', 'Toulouse', 'Chilly', 'Dover', 'Uzes', 'Soller', 'Cardiff', 'Storuman', 'Meyzieu', 'Canterbury', 'Sobotka', 'Crepy En Valois', 'Wellington', 'Allambie Heights', 'Watford', 'Setagaya-Ku', 'Norwood', 'Sheldon', 'Tel-Aviv-Jaffa', 'Toorak Gardens', 'Moorooka', 'Genova', 'Bondi', 'Alicante', 'Hastings', 'Trinec', 'Sapporo-Shi', 'Irapuato', 'Nyon', 'Horsham', 'Groningen', 'Oxford', 'Stellenbosch', 'Singapore', 'Belper', 'Stillwater', 'Matadepera', "Saint Pierre D'Albigny", 'M?Nchaltorf', 'Hayamacho', 'Carabietta', 'Randers Sv', 'Leschaux', 'Vigo', 'Whanganui', 'Cartago', 'Fernitz-Mellach', 'Trédarzec', 'Munich', 'Torun', 'Sonneberg', 'Masevaux', 'Melbourne', 'Montpellier', 'Umeã¥', 'Saint Lumine De Clisson', 'Lã¼Tjensee', 'Baden', 'Glasgow']

In [223]:
city_to_country_code = {
    'Ixelles': 'BEL',
    'Erd': 'HUN',
    'Cali': 'COL',
    'Barcelona': 'ESP',
    'Saint-Paul': 'USA',
    'Panama City': 'PAN',
    'Panama': 'PAN',
    'Annecy': 'FRA',
    'Quillota': 'CHL',
    'Kathmandu': 'NPL',
    'Paisley': 'GBR',
    'Porochi': 'MEX',
    'Santo Domingo': 'DOM',
    'Windsor': 'CAN',
    'Gävle': 'SWE',
    'Flims Waldhaus': 'CHE',
    'Ciudad Colon': 'CRI',
    'Merimbula': 'AUS',
    'Moretonhampstead': 'GBR',
    'Kettering': 'USA',
    'Coalstoun Lakes': 'AUS',
    'Coral gables USA': 'USA',
    'Misawa': 'JPN',
    'Carrickmacross': 'IRL',
    'Handeloh': 'DEU',
    'Neuenhagen': 'DEU',
    'Beatrice': 'USA',
    'Coral Gables Usa': 'USA',
    'Cape Town': 'ZAF',
    'Tucson': 'USA',
    'Madrid': 'ESP',
    'Warszawa': 'POL',
    'Santa Ana': 'USA',
    'Santiago De Chile': 'CHL',
    'Riobamba': 'ECU',
    'San Jose': 'CRI',
    'Tibas': 'CRI',
    'Kyiv': 'UKR',
    'Rio De Janeiro': 'BRA',
    'Heredia': 'CRI',
    'Escazu': 'CRI',
    'London': 'GBR',
    'Granada': 'ESP',
    'Heathfield': 'GBR',
    'Stuttgart': 'DEU',
    'Kalmar': 'SWE',
    'Tromsø': 'NOR',
    'Oslo': 'NOR',
    'Kanazawa': 'JPN',
    'Tokyo': 'JPN',
    'Omaha': 'USA',
    'Setagaya': 'JPN',
    'Beckenham': 'GBR',
    'Miami': 'USA',
    'Piacenza': 'ITA',
    'Choluteca': 'HND',
    'Cdmx': 'MEX',
    'Basel': 'CHE',
    'Noosa Heads': 'AUS',
    'Calgary': 'CAN',
    'Port Coquitlam': 'CAN',
    'Chamonix Mont Blanc': 'FRA',
    'Saint Ferréol Les Neiges': 'CAN',
    'High Prairie': 'CAN',
    'Sainte Catherine': 'CAN',
    'Mixquiahuala': 'MEX',
    'Mexico City': 'MEX',
    'Alajuela': 'CRI',
    'Culiacan': 'MEX',
    'Cd Juarez': 'MEX',
    'Erding': 'DEU',
    'Buenos Aires': 'ARG',
    'Chamonix': 'FRA',
    'Okayama-Shi': 'JPN',
    'Matamoros': 'MEX',
    'Chester': 'GBR',
    'Malmã¶': 'SWE',
    'Tourlaville': 'FRA',
    'El Minia': 'EGY',
    'Aguadilla': 'PRI',
    'Stranda': 'NOR',
    'Henley On Thames': 'GBR',
    'Henley-On-Thames': 'GBR',
    'Nerima': 'JPN',
    'Mexico': 'MEX',
    'Cairns': 'AUS',
    'Vienna': 'AUT',
    'Dun Laoghaire': 'IRL',
    'Edinburgh': 'GBR',
    'Coral Gables': 'USA',
    'Scottdale': 'USA',
    'San Luis Obispo': 'USA',
    'Chandler': 'USA',
    'México': 'MEX',
    'Bracknell': 'GBR',
    'Oberwil': 'CHE',
    'Kent': 'USA',
    'Trento': 'ITA',
    'Viareggio': 'ITA',
    'København K': 'DNK',
    'Bagneux': 'FRA',
    'Milan': 'ITA',
    'Shetland Islands': 'GBR',
    'Holmbury St Mary': 'GBR',
    'Neustift': 'AUT',
    'Belo Horizonte': 'BRA',
    'Copenhagen': 'DNK',
    'Genk': 'BEL',
    'Rødovre': 'DNK',
    'Phoenix': 'USA',
    'Champagne': 'FRA',
    'Ukmerge': 'LTU',
    'Clermont Ferrand': 'FRA',
    'St. Thibaud De Couz': 'FRA',
    'Asquith': 'AUS',
    'Saint Julien': 'FRA',
    'Trysil': 'NOR',
    'Faverges': 'FRA',
    'Tallo': 'IDN',
    'Milano': 'ITA',
    'Woodford': 'GBR',
    'Bishops Stortford': 'GBR',
    'Zurich': 'CHE',
    'Sydney': 'AUS',
    'Zglobice': 'POL',
    'Gijon': 'ESP',
    'Cirencester': 'GBR',
    'Reading': 'GBR',
    'Hong Kong': 'HKG',
    'Helsinki': 'FIN',
    'Aylesford': 'GBR',
    'Slavutich': 'UKR',
    'K.K.Dist.': 'IND',
    'Stockport': 'GBR',
    'Teddington': 'GBR',
    'Toulouse': 'FRA',
    'Chilly': 'FRA',
    'Dover': 'GBR',
    'Uzes': 'FRA',
    'Soller': 'ESP',
    'Cardiff': 'GBR',
    'Storuman': 'SWE',
    'Meyzieu': 'FRA',
    'Canterbury': 'GBR',
    'Sobotka': 'CZE',
    'Crepy En Valois': 'FRA',
    'Wellington': 'NZL',
    'Allambie Heights': 'AUS',
    'Watford': 'GBR',
    'Setagaya-Ku': 'JPN',
    'Norwood': 'USA',
    'Sheldon': 'USA',
    'Tel-Aviv-Jaffa': 'ISR',
    'Toorak Gardens': 'AUS',
    'Moorooka': 'AUS',
    'Genova': 'ITA',
    'Bondi': 'AUS',
    'Alicante': 'ESP',
    'Hastings': 'GBR',
    'Trinec': 'CZE',
    'Sapporo-Shi': 'JPN',
    'Irapuato': 'MEX',
    'Nyon': 'CHE',
    'Horsham': 'GBR',
    'Groningen': 'NLD',
    'Oxford': 'GBR',
    'Stellenbosch': 'ZAF',
    'Singapore': 'SGP',
    'Belper': 'GBR',
    'Stillwater': 'USA',
    'Matadepera': 'ESP',
    "Saint Pierre D'Albigny": 'FRA',
    'M?Nchaltorf': 'CHE',
    'Hayamacho': 'JPN',
    'Carabietta': 'CHE',
    'Randers SV': 'DNK',
    'Leschaux': 'FRA',
    'Vigo': 'ESP',
    'Whanganui': 'NZL',
    'Cartago': 'CRI',
    'Fernitz-Mellach': 'AUT',
    'Trédarzec': 'FRA',
    'Munich': 'DEU',
    'Torun': 'POL',
    'Sonneberg': 'DEU',
    'Masevaux': 'FRA',
    'Melbourne': 'AUS',
    'Montpellier': 'FRA',
    'Umeã¥': 'SWE',
    'Saint Lumine De Clisson': 'FRA',
    'Lã¼Tjensee': 'DEU',
    'Baden': 'CHE',
    'Glasgow': 'GBR',
    'Randers Sv': 'DNK'
}

In [224]:
ultrasignup_combined_df['Nationality'] = ultrasignup_combined_df.apply(
    lambda row: city_to_country_code.get(row['City'], row['Nationality']) if pd.isna(row['State']) else row['Nationality'],
    axis=1
)

In [225]:
ultrasignup_combined_df['Nationality'].isna().sum()

np.int64(5)

In [226]:
missing_nationalities = ultrasignup_combined_df[ultrasignup_combined_df['Nationality'].isna()]
print(missing_nationalities[['City', 'State']])

      City State
1515   NaN   NaN
2481   NaN   NaN
10916  NaN   NaN
15469  NaN   NaN
16403  NaN   NaN

In [227]:
ultrasignup_combined_df.head(50)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,City,State,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,"Saturday, January 8, 2022",2022,1.0,Finisher,Jonathan Rea,Boulder,CO,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,"Saturday, January 8, 2022",2022,2.0,Finisher,Tyler Fox,Lander,WY,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,"Saturday, January 8, 2022",2022,3.0,Finisher,Joseph McConaughy,Seattle,WA,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,"Saturday, January 8, 2022",2022,4.0,Finisher,Rod Farvard,Mammoth Lakes,CA,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,"Saturday, January 8, 2022",2022,5.0,Finisher,Jimmy Elam,Salt Lake City,UT,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA
5,50001,22,"Saturday, January 8, 2022",2022,6.0,Finisher,David Hedges,Ithaca,NY,24.0,M,6.0,8:45:31,Bandera 100k,"Bandera, TX",100K,20-34,USA
6,50001,22,"Saturday, January 8, 2022",2022,7.0,Finisher,Tracen Knopp,Anchorage,AK,23.0,M,7.0,8:46:24,Bandera 100k,"Bandera, TX",100K,20-34,USA
7,50001,22,"Saturday, January 8, 2022",2022,8.0,Finisher,Austin Horn,Flagstaff,AZ,24.0,M,8.0,9:02:50,Bandera 100k,"Bandera, TX",100K,20-34,USA
8,50001,22,"Saturday, January 8, 2022",2022,9.0,Finisher,Gabriel Kline,Acton,MA,24.0,M,9.0,9:05:58,Bandera 100k,"Bandera, TX",100K,20-34,USA
9,50001,22,"Saturday, January 8, 2022",2022,10.0,Finisher,Dmitri Journist,Salt Lake City,UT,33.0,M,10.0,9:06:21,Bandera 100k,"Bandera, TX",100K,20-34,USA
10,50001,22,"Saturday, January 8, 2022",2022,11.0,Finisher,Jordan Lafreniere,Rockford,MI,38.0,M,11.0,9:11:04,Bandera 100k,"Bandera, TX",100K,35-39,USA
11,50001,22,"Saturday, January 8, 2022",2022,12.0,Finisher,Jean-Francois Cauchon,Quebec,QC,28.0,M,12.0,9:11:54,Bandera 100k,"Bandera, TX",100K,20-34,CAN
12,50001,22,"Saturday, January 8, 2022",2022,13.0,Finisher,Marianne Hogan,Montreal,QC,31.0,F,1.0,9:17:06,Bandera 100k,"Bandera, TX",100K,20-34,CAN
13,50001,22,"Saturday, January 8, 2022",2022,14.0,Finisher,Robert Landauer,Wimberley,TX,37.0,M,13.0,9:19:18,Bandera 100k,"Bandera, TX",100K,35-39,USA
14,50001,22,"Saturday, January 8, 2022",2022,15.0,Finisher,Ellie Pell,Ithaca,NY,30.0,F,2.0,9:49:12,Bandera 100k,"Bandera, TX",100K,20-34,USA
15,50001,22,"Saturday, January 8, 2022",2022,16.0,Finisher,Alex Hildebrandt,Denver,CO,25.0,M,14.0,10:04:45,Bandera 100k,"Bandera, TX",100K,20-34,USA
16,50001,22,"Saturday, January 8, 2022",2022,17.0,Finisher,Leah Yingling,Salt Lake City,UT,30.0,F,3.0,10:05:20,Bandera 100k,"Bandera, TX",100K,20-34,USA
17,50001,22,"Saturday, January 8, 2022",2022,18.0,Finisher,Meghan Morgan,Boulder,CO,24.0,F,4.0,10:12:52,Bandera 100k,"Bandera, TX",100K,20-34,USA
18,50001,22,"Saturday, January 8, 2022",2022,19.0,Finisher,Brianna Grigsby,Tucson,AZ,34.0,F,5.0,10:15:42,Bandera 100k,"Bandera, TX",100K,20-34,USA
19,50001,22,"Saturday, January 8, 2022",2022,20.0,Finisher,Rene Dorantes,Pasadena,CA,45.0,M,15.0,10:15:50,Bandera 100k,"Bandera, TX",100K,45-49,USA
20,50001,22,"Saturday, January 8, 2022",2022,21.0,Finisher,Riley Brady,New Hope,PA,26.0,F,6.0,10:20:19,Bandera 100k,"Bandera, TX",100K,20-34,USA
21,50001,22,"Saturday, January 8, 2022",2022,22.0,Finisher,Tyler Kilbury,Minneapolis,MN,36.0,M,16.0,10:23:22,Bandera 100k,"Bandera, TX",100K,35-39,USA
22,50001,22,"Saturday, January 8, 2022",2022,23.0,Finisher,Daniel Oconor,San Antonio,TX,27.0,M,17.0,10:27:47,Bandera 100k,"Bandera, TX",100K,20-34,USA
23,50001,22,"Saturday, January 8, 2022",2022,24.0,Finisher,Arden Young,Calgary,AB,36.0,F,7.0,10:28:14,Bandera 100k,"Bandera, TX",100K,35-39,CAN
24,50001,22,"Saturday, January 8, 2022",2022,25.0,Finisher,Yiran Li,Boulder,CO,28.0,M,18.0,10:33:52,Bandera 100k,"Bandera, TX",100K,20-34,USA
25,50001,22,"Saturday, January 8, 2022",2022,26.0,Finisher,Jeff Dolan,Glen Mills,PA,43.0,M,19.0,10:35:59,Bandera 100k,"Bandera, TX",100K,40-44,USA
26,50001,22,"Saturday, January 8, 2022",2022,27.0,Finisher,Benjamin Drexler,Minneapolis,MN,33.0,M,20.0,10:39:25,Bandera 100k,"Bandera, TX",100K,20-34,USA
27,50001,22,"Saturday, January 8, 2022",2022,28.0,Finisher,Michelle Magagna,Portage,MI,31.0,F,8.0,10:40:30,Bandera 100k,"Bandera, TX",100K,20-34,USA
28,50001,22,"Saturday, January 8, 2022",2022,29.0,Finisher,Conor Gillen,Saginaw,TX,36.0,M,21.0,10:45:55,Bandera 100k,"Bandera, TX",100K,35-39,USA
29,50001,22,"Saturday, January 8, 2022",2022,30.0,Finisher,Ben Robinson,Tunkhannock,PA,28.0,M,22.0,10:48:28,Bandera 100k,"Bandera, TX",100K,20-34,USA
30,50001,22,"Saturday, January 8, 2022",2022,31.0,Finisher,Brian Fagan,Pflugerville,TX,43.0,M,23.0,10:52:16,Bandera 100k,"Bandera, TX",100K,40-44,USA
31,50001,22,"Saturday, January 8, 2022",2022,32.0,Finisher,Katrina Miller,Missoula,MT,29.0,F,9.0,10:56:49,Bandera 100k,"Bandera, TX",100K,20-34,USA
32,50001,22,"Saturday, January 8, 2022",2022,33.0,Finisher,Andrea Larson,Wausau,WI,36.0,F,10.0,10:57:52,Bandera 100k,"Bandera, TX",100K,35-39,USA
33,50001,22,"Saturday, January 8, 2022",2022,34.0,Finisher,Matthew Griffith,Fort Stockton,TX,37.0,M,24.0,11:04:28,Bandera 100k,"Bandera, TX",100K,35-39,USA
34,50001,22,"Saturday, January 8, 2022",2022,35.0,Finisher,Christopher Kokotajlo,Acton,CA,28.0,M,25.0,11:04:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
35,50001,22,"Saturday, January 8, 2022",2022,36.0,Finisher,Matt Smith,San Antonio,TX,43.0,M,26.0,11:07:08,Bandera 100k,"Bandera, TX",100K,40-44,USA
36,50001,22,"Saturday, January 8, 2022",2022,37.0,Finisher,Courtney Rouse,San Antonio,TX,28.0,F,11.0,11:07:13,Bandera 100k,"Bandera, TX",100K,20-34,USA
37,50001,22,"Saturday, January 8, 2022",2022,38.0,Finisher,Sarah Pizzo,Steamboat Springs,CO,38.0,F,12.0,11:09:52,Bandera 100k,"Bandera, TX",100K,35-39,USA
38,50001,22,"Saturday, January 8, 2022",2022,39.0,Finisher,Clay Emge,Tyler,TX,37.0,M,27.0,11:18:31,Bandera 100k,"Bandera, TX",100K,35-39,USA
39,50001,22,"Saturday, January 8, 2022",2022,40.0,Finisher,Nick Drozdiak,Washington,DC,40.0,M,28.0,11:26:08,Bandera 100k,"Bandera, TX",100K,40-44,USA
40,50001,22,"Saturday, January 8, 2022",2022,41.0,Finisher,Kate Mingle,Cambridge,MA,30.0,F,13.0,11:27:40,Bandera 100k,"Bandera, TX",100K,20-34,USA
41,50001,22,"Saturday, January 8, 2022",2022,42.0,Finisher,German Garcia,Flint,TX,42.0,M,29.0,11:32:15,Bandera 100k,"Bandera, TX",100K,40-44,USA
42,50001,22,"Saturday, January 8, 2022",2022,43.0,Finisher,Jill Wojta,Onalaska,WI,40.0,F,14.0,11:34:15,Bandera 100k,"Bandera, TX",100K,40-44,USA
43,50001,22,"Saturday, January 8, 2022",2022,44.0,Finisher,Matthew Ferro,Austin,TX,27.0,M,30.0,11:34:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
44,50001,22,"Saturday, January 8, 2022",2022,45.0,Finisher,Wade Barrett,Houston,TX,45.0,M,31.0,11:41:27,Bandera 100k,"Bandera, TX",100K,45-49,USA
45,50001,22,"Saturday, January 8, 2022",2022,46.0,Finisher,Lyman Hawbaker III,New York,NY,34.0,M,32.0,11:41:43,Bandera 100k,"Bandera, TX",100K,20-34,USA
46,50001,22,"Saturday, January 8, 2022",2022,47.0,Finisher,John Sugden,Lees Summit,MO,39.0,M,33.0,11:43:14,Bandera 100k,"Bandera, TX",100K,35-39,USA
47,50001,22,"Saturday, January 8, 2022",2022,48.0,Finisher,Brian Cavanaugh,Grand Rapids,MI,41.0,M,34.0,11:44:05,Bandera 100k,"Bandera, TX",100K,40-44,USA
48,50001,22,"Saturday, January 8, 2022",2022,49.0,Finisher,Travis Bagwell,San Antonio,TX,37.0,M,35.0,11:47:01,Bandera 100k,"Bandera, TX",100K,35-39,USA
49,50001,22,"Saturday, January 8, 2022",2022,50.0,Finisher,Elise Lagerstrom,Wood Village,OR,29.0,F,15.0,11:58:10,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [237]:
ultrasignup_combined_df['Nationality'].value_counts()

Nationality
USA    18643
CAN      842
GBR      162
AUS       84
MEX       74
       ...
MYS        1
LUX        1
VNM        1
AND        1
KOR        1
Name: count, Length: 77, dtype: int64

In [218]:
# ultrasignup_combined_df.drop(columns=['Nationality'], inplace=True)

In [252]:
ultrasignup_combined_df['Name'] = ultrasignup_combined_df['Name'].str.lower()

In [256]:
ultrasignup_combined_df.head(100)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,City,State,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,"Saturday, January 8, 2022",2022,1.0,Finisher,jonathan rea,Boulder,CO,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,"Saturday, January 8, 2022",2022,2.0,Finisher,tyler fox,Lander,WY,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,"Saturday, January 8, 2022",2022,3.0,Finisher,joseph mcconaughy,Seattle,WA,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,"Saturday, January 8, 2022",2022,4.0,Finisher,rod farvard,Mammoth Lakes,CA,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,"Saturday, January 8, 2022",2022,5.0,Finisher,jimmy elam,Salt Lake City,UT,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,50001,22,"Saturday, January 8, 2022",2022,96.0,Finisher,mitchell parker,Vail,AZ,33.0,M,72.0,13:41:45,Bandera 100k,"Bandera, TX",100K,20-34,USA
96,50001,22,"Saturday, January 8, 2022",2022,97.0,Finisher,mindy coolman,Omaha,NE,40.0,F,25.0,13:41:55,Bandera 100k,"Bandera, TX",100K,40-44,USA
97,50001,22,"Saturday, January 8, 2022",2022,98.0,Finisher,joe bliss,Grand Rapids,MI,34.0,M,73.0,13:44:59,Bandera 100k,"Bandera, TX",100K,20-34,USA
98,50001,22,"Saturday, January 8, 2022",2022,99.0,Finisher,brian gamble,Houston,TX,41.0,M,74.0,13:49:56,Bandera 100k,"Bandera, TX",100K,40-44,USA
99,50001,22,"Saturday, January 8, 2022",2022,100.0,Finisher,dean steele,San Antonio,TX,47.0,M,75.0,13:50:53,Bandera 100k,"Bandera, TX",100K,45-49,USA

In [254]:
ultrasignup_combined_df.to_csv('../data/ultrasignup_combined_df.csv', index = False, encoding = 'utf-8')

In [259]:
masters_combined = pd.concat([ultrasignup_combined_df, df], ignore_index=True)

In [261]:
df.shape

(50622, 15)

In [262]:
ultrasignup_combined_df.shape

(20473, 18)

In [1]:
masters_combined.shape

NameError: name 'masters_combined' is not defined

In [264]:
masters_combined['Series_ID'].value_counts()

Series_ID
142      20563
141      17182
12057     8185
10254     6313
17002     4443
3753      3354
32444     3205
895       3139
50001     1532
25273     1274
29669     1003
37038      902
Name: count, dtype: int64

In [265]:
# masters_combined.to_csv('../data/master_dataset.csv', index = False, encoding = 'utf-8')

In [267]:
# Filter for DNF participants
dnf_df = masters_combined[masters_combined['Status'] == 'DNF']

# Group by age category and count
age_dist = dnf_df['Age_Category'].value_counts().sort_index()

# Display the result
print(age_dist)

Age_Category
20-34    3473
35-39    3125
40-44    3625
45-49    3605
50-54    2913
55-59    1712
60-64     950
65-69     344
70-74     134
75-79      40
80          2
80+        57
U18         9
U20        11
Name: count, dtype: int64

In [271]:
age_dist_df = age_dist.reset_index()
age_dist_df.columns = ['Age Category', 'DNF Count']
age_dist_df

   Age Category  DNF Count
0         20-34       3473
1         35-39       3125
2         40-44       3625
3         45-49       3605
4         50-54       2913
5         55-59       1712
6         60-64        950
7         65-69        344
8         70-74        134
9         75-79         40
10           80          2
11          80+         57
12          U18          9
13          U20         11

In [2]:
import pandas as pd

# Load your dataset (replace with actual file path)
df = pd.read_csv("../data/master/all_races_combined_master.csv")

# Filter for Western States races between 2022 and 2025
western_states_df = df[
    (df['Race'].str.contains('Western States', case=False, na=False)) &
    (df['Year'].between(2022, 2025))
]

# View the first few rows
western_states_df.head()

# Save to a new CSV
# western_states_df.to_csv("western_states_2022_2025.csv", index=False)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
47012,17002,97204,"Jun 24, 2023",2023,111.0,Finisher,katsutoshi saijo,JPN,M,88.0,45-49,1 days 00:14:55,Western States,"Olympic Valley, CA",100M
47013,17002,97204,"Jun 24, 2023",2023,112.0,Finisher,doug oatis,USA,M,89.0,40-44,1 days 00:33:00,Western States,"Olympic Valley, CA",100M
47014,17002,97204,"Jun 24, 2023",2023,113.0,Finisher,alexander chervyakov,RUS,M,90.0,35-39,1 days 00:42:59,Western States,"Olympic Valley, CA",100M
47015,17002,97204,"Jun 24, 2023",2023,114.0,Finisher,jakob bokman,SWE,M,91.0,55-59,1 days 00:46:50,Western States,"Olympic Valley, CA",100M
47016,17002,97204,"Jun 24, 2023",2023,115.0,Finisher,marco lui,JPN,M,92.0,35-39,1 days 00:48:27,Western States,"Olympic Valley, CA",100M

In [3]:
western_states_df.reset_index(drop = True)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,17002,97204,"Jun 24, 2023",2023,111.0,Finisher,katsutoshi saijo,JPN,M,88.0,45-49,1 days 00:14:55,Western States,"Olympic Valley, CA",100M
1,17002,97204,"Jun 24, 2023",2023,112.0,Finisher,doug oatis,USA,M,89.0,40-44,1 days 00:33:00,Western States,"Olympic Valley, CA",100M
2,17002,97204,"Jun 24, 2023",2023,113.0,Finisher,alexander chervyakov,RUS,M,90.0,35-39,1 days 00:42:59,Western States,"Olympic Valley, CA",100M
3,17002,97204,"Jun 24, 2023",2023,114.0,Finisher,jakob bokman,SWE,M,91.0,55-59,1 days 00:46:50,Western States,"Olympic Valley, CA",100M
4,17002,97204,"Jun 24, 2023",2023,115.0,Finisher,marco lui,JPN,M,92.0,35-39,1 days 00:48:27,Western States,"Olympic Valley, CA",100M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501,17002,108752,"Jun 29, 2024",2024,76.0,Finisher,francesco sgarlata,ITA,M,55.0,35-39,0 days 22:54:04,Western States,"Olympic Valley, CA",100M
1502,17002,108752,"Jun 29, 2024",2024,77.0,Finisher,stephen blea,USA,M,56.0,35-39,0 days 23:00:06,Western States,"Olympic Valley, CA",100M
1503,17002,108752,"Jun 29, 2024",2024,55.0,Finisher,gerome fernandez,FRA,M,36.0,20-34,0 days 21:22:42,Western States,"Olympic Valley, CA",100M
1504,17002,108752,"Jun 29, 2024",2024,60.0,Finisher,riley robertson,USA,M,41.0,20-34,0 days 21:36:31,Western States,"Olympic Valley, CA",100M
1505,17002,108752,"Jun 29, 2024",2024,72.0,Finisher,matthew urbanski,USA,M,51.0,40-44,0 days 22:48:36,Western States,"Olympic Valley, CA",100M

In [5]:
# Save to a new CSV
western_states_df.to_csv("../data/master/western_states_2022_2025.csv", index=False)

In [9]:
def clean_time_to_hhmmss(time_str):
    parts = time_str.split()
    days = int(parts[0])
    time_part = parts[-1]
    hours, minutes, seconds = map(int, time_part.split(':'))
    total_hours = days * 24 + hours
    return f"{total_hours:02}:{minutes:02}:{seconds:02}"


western_states_df['Time'] = western_states_df['Time'].apply(clean_time_to_hhmmss)

western_states_df

ValueError: invalid literal for int() with base 10: '24:14:55'

In [12]:
western_states_df.reset_index(drop=True)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,17002,97204,"Jun 24, 2023",2023,111.0,Finisher,katsutoshi saijo,JPN,M,88.0,45-49,24:14:55,Western States,"Olympic Valley, CA",100M
1,17002,97204,"Jun 24, 2023",2023,112.0,Finisher,doug oatis,USA,M,89.0,40-44,24:33:00,Western States,"Olympic Valley, CA",100M
2,17002,97204,"Jun 24, 2023",2023,113.0,Finisher,alexander chervyakov,RUS,M,90.0,35-39,24:42:59,Western States,"Olympic Valley, CA",100M
3,17002,97204,"Jun 24, 2023",2023,114.0,Finisher,jakob bokman,SWE,M,91.0,55-59,24:46:50,Western States,"Olympic Valley, CA",100M
4,17002,97204,"Jun 24, 2023",2023,115.0,Finisher,marco lui,JPN,M,92.0,35-39,24:48:27,Western States,"Olympic Valley, CA",100M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501,17002,108752,"Jun 29, 2024",2024,76.0,Finisher,francesco sgarlata,ITA,M,55.0,35-39,22:54:04,Western States,"Olympic Valley, CA",100M
1502,17002,108752,"Jun 29, 2024",2024,77.0,Finisher,stephen blea,USA,M,56.0,35-39,23:00:06,Western States,"Olympic Valley, CA",100M
1503,17002,108752,"Jun 29, 2024",2024,55.0,Finisher,gerome fernandez,FRA,M,36.0,20-34,21:22:42,Western States,"Olympic Valley, CA",100M
1504,17002,108752,"Jun 29, 2024",2024,60.0,Finisher,riley robertson,USA,M,41.0,20-34,21:36:31,Western States,"Olympic Valley, CA",100M
1505,17002,108752,"Jun 29, 2024",2024,72.0,Finisher,matthew urbanski,USA,M,51.0,40-44,22:48:36,Western States,"Olympic Valley, CA",100M

In [14]:
western_states_df.to_csv("../data/master/western_states_2022_2025.csv", index=False)

In [84]:
df = pd.read_csv('../data/master/all_races_combined_master.csv')

In [85]:
df['Race'].nunique()

12

In [86]:
import pandas as pd

In [87]:
df_filtered = df[(df['Year'].between(2021, 2025))]

In [88]:
df_filtered = df_filtered[~df_filtered['Race'].str.contains("Western States", case=False, na=False)]

In [89]:
df_filtered['Race'].nunique()

11

In [51]:
race_names = df_filtered['Race'].dropna().unique()

In [52]:
race_names

array(['The Canyons 100k', 'CCC', 'Ultra Trail du Mont Blanc',
       'Doi Inthanon Thailand 100M', 'Black Canyon 100K', 'Tarawera 100K',
       'Bandera 100k', 'Ultra Trail Chianti Castles (UTCC)',
       'Javelina Jundred', "Nice Cote D'Azur", 'Grindstone'], dtype=object)

In [28]:
df.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,3753,37542,"April 23, 2022",2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,NaN,The Canyons 100k,"Auburn, CA",100K
1,3753,37542,"April 23, 2022",2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,0 days 13:26:16,The Canyons 100k,"Auburn, CA",100K
2,3753,37542,"April 23, 2022",2022,120,Finisher,yuri lane,USA,M,83.0,45-49,0 days 13:27:16,The Canyons 100k,"Auburn, CA",100K
3,3753,37542,"April 23, 2022",2022,121,Finisher,nicholas su,USA,M,84.0,20-34,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
4,3753,37542,"April 23, 2022",2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K

In [79]:
# Convert Time to HH:MM:SS
df['Time'] = pd.to_timedelta(df['Time'], errors='coerce')
df['Time'] = df['Time'].apply(lambda x: f"{int(x.total_seconds()//3600):02}:{int((x.total_seconds()%3600)//60):02}:{int(x.total_seconds()%60):02}" if pd.notnull(x) else "")

In [63]:
df

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,3753,37542,"April 23, 2022",2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,,The Canyons 100k,"Auburn, CA",100K
1,3753,37542,"April 23, 2022",2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,13:26:16,The Canyons 100k,"Auburn, CA",100K
2,3753,37542,"April 23, 2022",2022,120,Finisher,yuri lane,USA,M,83.0,45-49,13:27:16,The Canyons 100k,"Auburn, CA",100K
3,3753,37542,"April 23, 2022",2022,121,Finisher,nicholas su,USA,M,84.0,20-34,13:29:49,The Canyons 100k,"Auburn, CA",100K
4,3753,37542,"April 23, 2022",2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71075,32444,23444,"September 30, 2023",2023,621,Finisher,jean-claude damevin,FRA,M,555.0,55-59,27:08:15,Nice Cote D'Azur,"Roubion, France",100K
71076,32444,23444,"September 30, 2023",2023,621,Finisher,miluse pavingerova,CZE,F,67.0,50-54,27:08:15,Nice Cote D'Azur,"Roubion, France",100K
71077,32444,23444,"September 30, 2023",2023,620,Finisher,philip troughton,GBR,M,554.0,40-44,27:07:57,Nice Cote D'Azur,"Roubion, France",100K
71078,32444,23444,"September 30, 2023",2023,632,Finisher,ludovic gallo,FRA,M,563.0,55-59,27:26:46,Nice Cote D'Azur,"Roubion, France",100K
71079,32444,23444,"September 30, 2023",2023,54,Finisher,sebastien picard,FRA,M,46.0,40-44,16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [90]:
# Convert Time to HH:MM:SS
df_filtered['Time'] = pd.to_timedelta(df_filtered['Time'], errors='coerce')
df_filtered['Time'] = df_filtered['Time'].apply(lambda x: f"{int(x.total_seconds()//3600):02}:{int((x.total_seconds()%3600)//60):02}:{int(x.total_seconds()%60):02}" if pd.notnull(x) else "")

In [80]:
df_filtered.shape

(44166, 15)

In [83]:
df.to_csv("../data/master/all_combined_races_master_v2.csv", index=False)

In [93]:
df_filtered.to_csv("../data/master/all_combined_races_master_v2_exclude_western_states.csv", index = False)

In [91]:
from datetime import datetime

In [81]:

def convert_to_yyyy_mm_dd(value):
    try:
        # Remove ordinal suffixes like 'th', 'st', 'nd', 'rd'
        cleaned_value = value.replace('th', '').replace('st', '').replace('nd', '').replace('rd', '')
        # Try parsing with Month Day, Year format
        dt = datetime.strptime(cleaned_value, '%B %d, %Y')
        return dt.strftime('%Y-%m-%d')
    except ValueError:
        # If parsing fails, return original value
        return value

# Apply conversion
df['Date'] = df['Date'].apply(convert_to_yyyy_mm_dd)

In [92]:
def convert_to_yyyy_mm_dd(value):
    try:
        # Remove ordinal suffixes like 'th', 'st', 'nd', 'rd'
        cleaned_value = value.replace('th', '').replace('st', '').replace('nd', '').replace('rd', '')
        # Try parsing with Month Day, Year format
        dt = datetime.strptime(cleaned_value, '%B %d, %Y')
        return dt.strftime('%Y-%m-%d')
    except ValueError:
        # If parsing fails, return original value
        return value

# Apply conversion
df_filtered['Date'] = df_filtered['Date'].apply(convert_to_yyyy_mm_dd)