In [1]:
import pandas as pd

In [3]:
master = pd.read_csv('../data/master/all_races_combined_master.csv', low_memory = False)

In [4]:
print(master.dtypes)

Series_ID         int64
Race_ID           int64
Date             object
Year              int64
Rank             object
Status           object
Name             object
City             object
State            object
Age             float64
Gender           object
Gender_Rank     float64
Time             object
Race             object
Race_Loc         object
Race_Dist        object
Age_Category     object
Nationality      object
dtype: object

In [5]:
master.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,City,State,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,"Saturday, January 8, 2022",2022,1.0,Finisher,jonathan rea,Boulder,CO,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,"Saturday, January 8, 2022",2022,2.0,Finisher,tyler fox,Lander,WY,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,"Saturday, January 8, 2022",2022,3.0,Finisher,joseph mcconaughy,Seattle,WA,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,"Saturday, January 8, 2022",2022,4.0,Finisher,rod farvard,Mammoth Lakes,CA,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,"Saturday, January 8, 2022",2022,5.0,Finisher,jimmy elam,Salt Lake City,UT,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [6]:
master.drop(columns=['City', 'State'], inplace=True)

In [7]:
master.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,"Saturday, January 8, 2022",2022,1.0,Finisher,jonathan rea,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,"Saturday, January 8, 2022",2022,2.0,Finisher,tyler fox,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,"Saturday, January 8, 2022",2022,3.0,Finisher,joseph mcconaughy,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,"Saturday, January 8, 2022",2022,4.0,Finisher,rod farvard,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,"Saturday, January 8, 2022",2022,5.0,Finisher,jimmy elam,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [9]:
master.shape

(71095, 16)

In [10]:
print(master.dtypes)

Series_ID         int64
Race_ID           int64
Date             object
Year              int64
Rank             object
Status           object
Name             object
Age             float64
Gender           object
Gender_Rank     float64
Time             object
Race             object
Race_Loc         object
Race_Dist        object
Age_Category     object
Nationality      object
dtype: object

In [15]:
master['Date'] = pd.to_datetime(master['Date'], errors='coerce')
master['Status'] = master['Status'].astype('category')
master['Gender'] = master['Gender'].astype('category')
master['Age_Category'] = master['Age_Category'].astype('category')
master['Nationality'] = master['Nationality'].astype('category')

In [16]:
master.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,2022-01-08,2022,1.0,Finisher,jonathan rea,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,2022-01-08,2022,2.0,Finisher,tyler fox,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,2022-01-08,2022,3.0,Finisher,joseph mcconaughy,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,2022-01-08,2022,4.0,Finisher,rod farvard,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,2022-01-08,2022,5.0,Finisher,jimmy elam,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [ ]:
def clean_rank_column(col):
    return pd.to_numeric(master[col], errors='coerce').astype('Int64').combine_first(master[col])

master['Rank'] = clean_rank_column('Rank')
master['Gender_Rank'] = clean_rank_column('Gender_Rank')

In [21]:
master.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,2022-01-08,2022,1,Finisher,jonathan rea,29.0,M,1.0,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,2022-01-08,2022,2,Finisher,tyler fox,29.0,M,2.0,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,2022-01-08,2022,3,Finisher,joseph mcconaughy,30.0,M,3.0,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,2022-01-08,2022,4,Finisher,rod farvard,26.0,M,4.0,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,2022-01-08,2022,5,Finisher,jimmy elam,34.0,M,5.0,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [22]:
master['Gender_Rank'] = pd.to_numeric(master['Gender_Rank'], errors='coerce')
master['Gender_Rank'] = master['Gender_Rank'].astype('Int64')

In [23]:
master.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Age,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,2022-01-08,2022,1,Finisher,jonathan rea,29.0,M,1,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,2022-01-08,2022,2,Finisher,tyler fox,29.0,M,2,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,2022-01-08,2022,3,Finisher,joseph mcconaughy,30.0,M,3,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,2022-01-08,2022,4,Finisher,rod farvard,26.0,M,4,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,2022-01-08,2022,5,Finisher,jimmy elam,34.0,M,5,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [25]:
master.drop(columns=['Age'], inplace=True)

In [26]:
master.head()

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,2022-01-08,2022,1,Finisher,jonathan rea,M,1,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,2022-01-08,2022,2,Finisher,tyler fox,M,2,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,2022-01-08,2022,3,Finisher,joseph mcconaughy,M,3,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,2022-01-08,2022,4,Finisher,rod farvard,M,4,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,2022-01-08,2022,5,Finisher,jimmy elam,M,5,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA

In [28]:
master.to_csv('../data/master/all_races_combined_master.csv', index = False, encoding = 'utf-8')

In [29]:
master['Date'] = pd.to_datetime(master['Date'], errors='coerce', infer_datetime_format=True)

C:\Users\user\AppData\Local\Temp\ipykernel_18760\2376945378.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  master['Date'] = pd.to_datetime(master['Date'], errors='coerce', infer_datetime_format=True)

In [30]:
master

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Gender,Gender_Rank,Time,Race,Race_Loc,Race_Dist,Age_Category,Nationality
0,50001,22,2022-01-08,2022,1,Finisher,jonathan rea,M,1,8:10:00,Bandera 100k,"Bandera, TX",100K,20-34,USA
1,50001,22,2022-01-08,2022,2,Finisher,tyler fox,M,2,8:14:53,Bandera 100k,"Bandera, TX",100K,20-34,USA
2,50001,22,2022-01-08,2022,3,Finisher,joseph mcconaughy,M,3,8:17:34,Bandera 100k,"Bandera, TX",100K,20-34,USA
3,50001,22,2022-01-08,2022,4,Finisher,rod farvard,M,4,8:28:39,Bandera 100k,"Bandera, TX",100K,20-34,USA
4,50001,22,2022-01-08,2022,5,Finisher,jimmy elam,M,5,8:33:07,Bandera 100k,"Bandera, TX",100K,20-34,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71090,142,14225,NaT,2025,DNF,DNF,manuel gil-castello,M,<NA>,-,Ultra Trail du Mont Blanc,"Chamonix, France",100M,50-54,ESP
71091,142,14225,NaT,2025,DNF,DNF,vojtech smid,M,<NA>,-,Ultra Trail du Mont Blanc,"Chamonix, France",100M,40-44,CZE
71092,142,14225,NaT,2025,DNF,DNF,lazaros sofokleous,M,<NA>,-,Ultra Trail du Mont Blanc,"Chamonix, France",100M,45-49,CYP
71093,142,14225,NaT,2025,DNF,DNF,konrad van valkenhoef,M,<NA>,-,Ultra Trail du Mont Blanc,"Chamonix, France",100M,35-39,NLD
71094,142,14225,NaT,2025,DNF,DNF,jean-baptiste levesque,M,<NA>,-,Ultra Trail du Mont Blanc,"Chamonix, France",100M,40-44,FRA

In [32]:
race_id = pd.read_csv('../data/master/race_ids_master.csv')

In [142]:
df1 = pd.read_csv('../data/combined/utmb_format_master_df.csv')
df2 = pd.read_csv('../data/combined/ultrasignup_combined_df_v2.csv')

In [143]:
master_combined = pd.concat([df1, df2], ignore_index=True)

In [144]:
print(master_combined['Date'].unique())

['September 1, 2017' 'August 31, 2018' 'August 30, 2019' 'August 27, 2021'
 'August 26, 2022' 'September 1, 2023' 'August 30, 2024' 'August 29, 2025'
 'December 9th, 2022' 'December 8th, 2023' 'December 6th, 2024'
 'September 23, 2023' 'September 20, 2024' 'September 19, 2025'
 'September 30, 2023' 'October 4, 2024' 'September 27, 2025'
 'February 8, 2020' 'February 13, 2021' 'February 11, 2023'
 'February 17, 2024' 'February 15, 2025' 'April 28, 2018' 'April 27, 2019'
 'April 24, 2021' 'April 23, 2022' 'April 28, 2023' 'April 26, 2024'
 'April 25, 2025' 'March 23, 2024' 'March 22, 2025' 'August 31, 2017'
 'January 8, 2022' 'January 7, 2023' 'January 13, 2024' 'January 11, 2025'
 'February 15, 2014' 'February 14, 2015' 'February 13, 2016'
 'February 18, 2017' 'February 17, 2018' 'February 16, 2019'
 'February 15, 2020' 'February 12, 2022' 'February 18, 2023'
 'February 10, 2024' 'February 8, 2025' 'Nov 12, 2011' 'Oct 27, 2012'
 'Oct 26, 2013' 'Nov 1, 2014' 'Oct 31, 2015' 'Oct 29, 2016' 'Oct 28, 2017'
 'Oct 27, 2018' 'Oct 26, 2019' 'October 31, 2020' 'Oct 30, 2021'
 'Oct 29, 2022' 'Oct 28, 2023' 'Oct 26, 2024' 'Oct 25, 2025'
 'Jun 29, 2013' 'Jun 28, 2014' 'Jun 27, 2015' 'Jun 25, 2016'
 'Jun 24, 2017' 'Jun 23, 2018' 'Jun 29, 2019' 'Jun 26, 2021'
 'Jun 25, 2022' 'Jun 24, 2023' 'Jun 29, 2024' 'Jun 28, 2025']

In [145]:
master_combined.drop_duplicates(inplace=True)
master_combined.sort_values(by='Date', inplace=True)

In [146]:
master_combined.shape

(71080, 15)

In [147]:
master_combined

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
27220,3753,37542,"April 23, 2022",2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,-,The Canyons 100k,"Auburn, CA",100K
26861,3753,37542,"April 23, 2022",2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,13:26:16,The Canyons 100k,"Auburn, CA",100K
26862,3753,37542,"April 23, 2022",2022,120,Finisher,yuri lane,USA,M,83.0,45-49,13:27:16,The Canyons 100k,"Auburn, CA",100K
26863,3753,37542,"April 23, 2022",2022,121,Finisher,nicholas su,USA,M,84.0,20-34,13:29:49,The Canyons 100k,"Auburn, CA",100K
26864,3753,37542,"April 23, 2022",2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19979,32444,23444,"September 30, 2023",2023,621,Finisher,jean-claude damevin,FRA,M,555.0,55-59,27:08:15,Nice Cote D'Azur,"Roubion, France",100K
19978,32444,23444,"September 30, 2023",2023,621,Finisher,miluse pavingerova,CZE,F,67.0,50-54,27:08:15,Nice Cote D'Azur,"Roubion, France",100K
19977,32444,23444,"September 30, 2023",2023,620,Finisher,philip troughton,GBR,M,554.0,40-44,27:07:57,Nice Cote D'Azur,"Roubion, France",100K
19989,32444,23444,"September 30, 2023",2023,632,Finisher,ludovic gallo,FRA,M,563.0,55-59,27:26:46,Nice Cote D'Azur,"Roubion, France",100K
19411,32444,23444,"September 30, 2023",2023,54,Finisher,sebastien picard,FRA,M,46.0,40-44,16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [148]:
master_combined['Status'] = master_combined['Status'].astype('category')
master_combined['Gender'] = master_combined['Gender'].astype('category')
master_combined['Age_Category'] = master_combined['Age_Category'].astype('category')
master_combined['Nationality'] = master_combined['Nationality'].astype('category')

In [149]:
master_combined.reset_index(drop = True)

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,3753,37542,"April 23, 2022",2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,-,The Canyons 100k,"Auburn, CA",100K
1,3753,37542,"April 23, 2022",2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,13:26:16,The Canyons 100k,"Auburn, CA",100K
2,3753,37542,"April 23, 2022",2022,120,Finisher,yuri lane,USA,M,83.0,45-49,13:27:16,The Canyons 100k,"Auburn, CA",100K
3,3753,37542,"April 23, 2022",2022,121,Finisher,nicholas su,USA,M,84.0,20-34,13:29:49,The Canyons 100k,"Auburn, CA",100K
4,3753,37542,"April 23, 2022",2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71075,32444,23444,"September 30, 2023",2023,621,Finisher,jean-claude damevin,FRA,M,555.0,55-59,27:08:15,Nice Cote D'Azur,"Roubion, France",100K
71076,32444,23444,"September 30, 2023",2023,621,Finisher,miluse pavingerova,CZE,F,67.0,50-54,27:08:15,Nice Cote D'Azur,"Roubion, France",100K
71077,32444,23444,"September 30, 2023",2023,620,Finisher,philip troughton,GBR,M,554.0,40-44,27:07:57,Nice Cote D'Azur,"Roubion, France",100K
71078,32444,23444,"September 30, 2023",2023,632,Finisher,ludovic gallo,FRA,M,563.0,55-59,27:26:46,Nice Cote D'Azur,"Roubion, France",100K
71079,32444,23444,"September 30, 2023",2023,54,Finisher,sebastien picard,FRA,M,46.0,40-44,16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [121]:
master_combined['Gender_Rank'] = master_combined['Gender_Rank'].apply(lambda x: int(x) if pd.notnull(x) else x)

In [150]:
master_combined['Gender_Rank'] = master_combined['Gender_Rank'].astype('Int64')

In [151]:
master_combined['Time'] = pd.to_timedelta(master_combined['Time'], errors='coerce')

In [158]:
print(master_combined.dtypes)

Series_ID                 int64
Race_ID                   int64
Date                     object
Year                      int64
Rank                     object
Status                 category
Name                     object
Nationality            category
Gender                 category
Gender_Rank               Int64
Age_Category           category
Time            timedelta64[ns]
Race                     object
Race_Loc                 object
Race_Dist                object
dtype: object

In [153]:
master_combined

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
27220,3753,37542,"April 23, 2022",2022,DNF,DNF,jasha reynolds,USA,M,<NA>,45-49,NaT,The Canyons 100k,"Auburn, CA",100K
26861,3753,37542,"April 23, 2022",2022,119,Finisher,rokas zickevicius,USA,M,82,20-34,0 days 13:26:16,The Canyons 100k,"Auburn, CA",100K
26862,3753,37542,"April 23, 2022",2022,120,Finisher,yuri lane,USA,M,83,45-49,0 days 13:27:16,The Canyons 100k,"Auburn, CA",100K
26863,3753,37542,"April 23, 2022",2022,121,Finisher,nicholas su,USA,M,84,20-34,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
26864,3753,37542,"April 23, 2022",2022,122,Finisher,josh vander wiele,USA,M,85,40-44,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19979,32444,23444,"September 30, 2023",2023,621,Finisher,jean-claude damevin,FRA,M,555,55-59,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
19978,32444,23444,"September 30, 2023",2023,621,Finisher,miluse pavingerova,CZE,F,67,50-54,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
19977,32444,23444,"September 30, 2023",2023,620,Finisher,philip troughton,GBR,M,554,40-44,1 days 03:07:57,Nice Cote D'Azur,"Roubion, France",100K
19989,32444,23444,"September 30, 2023",2023,632,Finisher,ludovic gallo,FRA,M,563,55-59,1 days 03:26:46,Nice Cote D'Azur,"Roubion, France",100K
19411,32444,23444,"September 30, 2023",2023,54,Finisher,sebastien picard,FRA,M,46,40-44,0 days 16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [155]:
failed_dates = master_combined[master_combined['Date'].isna()]
print(failed_dates[['Date', 'Race', 'Race_ID']])

Empty DataFrame
Columns: [Date, Race, Race_ID]
Index: []

In [154]:
# master_combined.to_csv('../data/master/all_races_combined_master.csv', index = False, encoding = 'utf-8')

In [157]:
# Filter to keep only rows from 2021 onward
combined_2021_2025 = master_combined[master_combined["Date"] >= "2021-01-01"]

In [159]:
combined_2021_2025

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
27220,3753,37542,"April 23, 2022",2022,DNF,DNF,jasha reynolds,USA,M,<NA>,45-49,NaT,The Canyons 100k,"Auburn, CA",100K
26861,3753,37542,"April 23, 2022",2022,119,Finisher,rokas zickevicius,USA,M,82,20-34,0 days 13:26:16,The Canyons 100k,"Auburn, CA",100K
26862,3753,37542,"April 23, 2022",2022,120,Finisher,yuri lane,USA,M,83,45-49,0 days 13:27:16,The Canyons 100k,"Auburn, CA",100K
26863,3753,37542,"April 23, 2022",2022,121,Finisher,nicholas su,USA,M,84,20-34,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
26864,3753,37542,"April 23, 2022",2022,122,Finisher,josh vander wiele,USA,M,85,40-44,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19979,32444,23444,"September 30, 2023",2023,621,Finisher,jean-claude damevin,FRA,M,555,55-59,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
19978,32444,23444,"September 30, 2023",2023,621,Finisher,miluse pavingerova,CZE,F,67,50-54,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
19977,32444,23444,"September 30, 2023",2023,620,Finisher,philip troughton,GBR,M,554,40-44,1 days 03:07:57,Nice Cote D'Azur,"Roubion, France",100K
19989,32444,23444,"September 30, 2023",2023,632,Finisher,ludovic gallo,FRA,M,563,55-59,1 days 03:26:46,Nice Cote D'Azur,"Roubion, France",100K
19411,32444,23444,"September 30, 2023",2023,54,Finisher,sebastien picard,FRA,M,46,40-44,0 days 16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [160]:
master = pd.read_csv('../data/master/all_races_combined_master.csv')

In [161]:
master

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,3753,37542,"April 23, 2022",2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,NaN,The Canyons 100k,"Auburn, CA",100K
1,3753,37542,"April 23, 2022",2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,0 days 13:26:16,The Canyons 100k,"Auburn, CA",100K
2,3753,37542,"April 23, 2022",2022,120,Finisher,yuri lane,USA,M,83.0,45-49,0 days 13:27:16,The Canyons 100k,"Auburn, CA",100K
3,3753,37542,"April 23, 2022",2022,121,Finisher,nicholas su,USA,M,84.0,20-34,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
4,3753,37542,"April 23, 2022",2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71075,32444,23444,"September 30, 2023",2023,621,Finisher,jean-claude damevin,FRA,M,555.0,55-59,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
71076,32444,23444,"September 30, 2023",2023,621,Finisher,miluse pavingerova,CZE,F,67.0,50-54,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
71077,32444,23444,"September 30, 2023",2023,620,Finisher,philip troughton,GBR,M,554.0,40-44,1 days 03:07:57,Nice Cote D'Azur,"Roubion, France",100K
71078,32444,23444,"September 30, 2023",2023,632,Finisher,ludovic gallo,FRA,M,563.0,55-59,1 days 03:26:46,Nice Cote D'Azur,"Roubion, France",100K
71079,32444,23444,"September 30, 2023",2023,54,Finisher,sebastien picard,FRA,M,46.0,40-44,0 days 16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [169]:
#### This correctly converted Date to datetime
master["Date"] = pd.to_datetime(
    master["Date"].str.replace(r"(\d+)(st|nd|rd|th)", r"\1", regex=True),
    errors="coerce"
)

In [170]:
master

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist,date_cleaned,date_parsed
0,3753,37542,2022-04-23,2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,NaN,The Canyons 100k,"Auburn, CA",100K,"April 23, 2022",2022-04-23
1,3753,37542,2022-04-23,2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,0 days 13:26:16,The Canyons 100k,"Auburn, CA",100K,"April 23, 2022",2022-04-23
2,3753,37542,2022-04-23,2022,120,Finisher,yuri lane,USA,M,83.0,45-49,0 days 13:27:16,The Canyons 100k,"Auburn, CA",100K,"April 23, 2022",2022-04-23
3,3753,37542,2022-04-23,2022,121,Finisher,nicholas su,USA,M,84.0,20-34,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K,"April 23, 2022",2022-04-23
4,3753,37542,2022-04-23,2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K,"April 23, 2022",2022-04-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71075,32444,23444,2023-09-30,2023,621,Finisher,jean-claude damevin,FRA,M,555.0,55-59,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K,"September 30, 2023",2023-09-30
71076,32444,23444,2023-09-30,2023,621,Finisher,miluse pavingerova,CZE,F,67.0,50-54,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K,"September 30, 2023",2023-09-30
71077,32444,23444,2023-09-30,2023,620,Finisher,philip troughton,GBR,M,554.0,40-44,1 days 03:07:57,Nice Cote D'Azur,"Roubion, France",100K,"September 30, 2023",2023-09-30
71078,32444,23444,2023-09-30,2023,632,Finisher,ludovic gallo,FRA,M,563.0,55-59,1 days 03:26:46,Nice Cote D'Azur,"Roubion, France",100K,"September 30, 2023",2023-09-30
71079,32444,23444,2023-09-30,2023,54,Finisher,sebastien picard,FRA,M,46.0,40-44,0 days 16:52:41,Nice Cote D'Azur,"Roubion, France",100K,"September 30, 2023",2023-09-30

In [172]:
print(master["Date"].dtype)

datetime64[ns]

In [174]:
master.drop(columns=["date_cleaned", "date_parsed"], inplace=True)

In [175]:
master

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,3753,37542,2022-04-23,2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,NaN,The Canyons 100k,"Auburn, CA",100K
1,3753,37542,2022-04-23,2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,0 days 13:26:16,The Canyons 100k,"Auburn, CA",100K
2,3753,37542,2022-04-23,2022,120,Finisher,yuri lane,USA,M,83.0,45-49,0 days 13:27:16,The Canyons 100k,"Auburn, CA",100K
3,3753,37542,2022-04-23,2022,121,Finisher,nicholas su,USA,M,84.0,20-34,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
4,3753,37542,2022-04-23,2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71075,32444,23444,2023-09-30,2023,621,Finisher,jean-claude damevin,FRA,M,555.0,55-59,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
71076,32444,23444,2023-09-30,2023,621,Finisher,miluse pavingerova,CZE,F,67.0,50-54,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
71077,32444,23444,2023-09-30,2023,620,Finisher,philip troughton,GBR,M,554.0,40-44,1 days 03:07:57,Nice Cote D'Azur,"Roubion, France",100K
71078,32444,23444,2023-09-30,2023,632,Finisher,ludovic gallo,FRA,M,563.0,55-59,1 days 03:26:46,Nice Cote D'Azur,"Roubion, France",100K
71079,32444,23444,2023-09-30,2023,54,Finisher,sebastien picard,FRA,M,46.0,40-44,0 days 16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [177]:
master_2021_2025 = master[master["Date"] >= "2021-01-01"]

In [178]:
master_2021_2025

,Series_ID,Race_ID,Date,Year,Rank,Status,Name,Nationality,Gender,Gender_Rank,Age_Category,Time,Race,Race_Loc,Race_Dist
0,3753,37542,2022-04-23,2022,DNF,DNF,jasha reynolds,USA,M,NaN,45-49,NaN,The Canyons 100k,"Auburn, CA",100K
1,3753,37542,2022-04-23,2022,119,Finisher,rokas zickevicius,USA,M,82.0,20-34,0 days 13:26:16,The Canyons 100k,"Auburn, CA",100K
2,3753,37542,2022-04-23,2022,120,Finisher,yuri lane,USA,M,83.0,45-49,0 days 13:27:16,The Canyons 100k,"Auburn, CA",100K
3,3753,37542,2022-04-23,2022,121,Finisher,nicholas su,USA,M,84.0,20-34,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
4,3753,37542,2022-04-23,2022,122,Finisher,josh vander wiele,USA,M,85.0,40-44,0 days 13:29:49,The Canyons 100k,"Auburn, CA",100K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71075,32444,23444,2023-09-30,2023,621,Finisher,jean-claude damevin,FRA,M,555.0,55-59,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
71076,32444,23444,2023-09-30,2023,621,Finisher,miluse pavingerova,CZE,F,67.0,50-54,1 days 03:08:15,Nice Cote D'Azur,"Roubion, France",100K
71077,32444,23444,2023-09-30,2023,620,Finisher,philip troughton,GBR,M,554.0,40-44,1 days 03:07:57,Nice Cote D'Azur,"Roubion, France",100K
71078,32444,23444,2023-09-30,2023,632,Finisher,ludovic gallo,FRA,M,563.0,55-59,1 days 03:26:46,Nice Cote D'Azur,"Roubion, France",100K
71079,32444,23444,2023-09-30,2023,54,Finisher,sebastien picard,FRA,M,46.0,40-44,0 days 16:52:41,Nice Cote D'Azur,"Roubion, France",100K

In [179]:
master_2021_2025.to_csv('../data/master/master_2021_2025.csv', index = False)

In [21]:
import pandas as pd
import random

In [22]:
athlete_id = pd.read_csv('../data/master/golden_ticket_recipient_master_table.csv')

In [23]:
athlete_id

,Race_ID,Gender,Ticket_Position,Name,Gender_Rank,WS_Year,WS_ID
0,22,M,1,jonathan rea,1,2022,87878
1,22,M,2,tyler fox,2,2022,87878
2,22,F,1,marianne hogan,1,2022,87878
3,22,F,2,ellie pell,2,2022,87878
4,23,M,1,jeffrey colt,1,2023,97204
...,...,...,...,...,...,...,...
110,14221,F,2,camille bruyas,2,2022,87878
111,14222,M,1,mathieu blanchard,2,2023,97204
112,14222,M,2,tom evans,3,2023,97204
113,14222,F,1,katie schide,1,2023,97204
114,14222,F,2,eszter csillag,5,2023,97204

In [24]:
unique_names = athlete_id['Name'].unique()

In [25]:
athlete_ids = random.sample(range(100, 1000), len(unique_names))

In [26]:
athlete_id_map = dict(zip(unique_names, athlete_ids))

In [27]:
athlete_id['Athlete_ID'] = athlete_id['Name'].map(athlete_id_map)

In [31]:
athlete_id.tail(50)

,Race_ID,Gender,Ticket_Position,Name,Gender_Rank,WS_Year,WS_ID,Athlete_ID
65,99186,M,2,blake slattengren,2,2024,108752,909
66,99186,F,1,heather jackson,1,2024,108752,631
67,99186,F,2,ragna debats,2,2024,108752,271
68,112165,M,1,david roche,1,2025,119682,308
69,112165,M,2,jeff mogavero,2,2025,119682,964
70,112165,F,1,riley brady,1,2025,119682,769
71,112165,F,2,hannah allgood,2,2025,119682,821
72,122877,M,1,will murray,1,2026,112625,743
73,122877,M,2,canyon woodward,3,2026,112625,329
74,122877,F,1,tara dower,1,2026,112625,182
75,122877,F,2,addie bracy,3,2026,112625,425
76,23444,M,1,jim walmsley,1,2024,108752,263
77,23444,M,2,simon gosselin,2,2024,108752,379
78,23444,F,1,eleanor davis,1,2024,108752,877
79,23444,F,2,giulia vinco,3,2024,108752,113
80,89523,M,1,daniel jones,1,2023,97204,842
81,89523,M,2,ryan montgomery,3,2023,97204,636
82,89523,F,1,nancy jiang,1,2023,97204,650
83,89523,F,2,stephanie auston,2,2023,97204,356
84,89525,M,1,hiroki kai,2,2025,119682,673
85,89525,M,2,adrian macdonald,3,2025,119682,512
86,89525,F,1,caitlin fielder,2,2025,119682,558
87,89525,F,2,nancy jiang,5,2025,119682,650
88,37542,M,1,adam peterman,1,2022,87878,549
89,37542,M,2,jared hazen,3,2022,87878,719
90,37542,M,3,rod farvard,4,2022,87878,771
91,37542,F,1,jazmine lowther,1,2022,87878,242
92,37542,F,2,leah yingling,2,2022,87878,233
93,37542,F,3,aroa sio seijo,3,2022,87878,326
94,37543,M,1,cole watson,1,2023,97204,181
95,37543,M,2,adam merry,2,2023,97204,786
96,37543,F,1,ida nilsson,1,2023,97204,679
97,37543,F,2,priscilla forgie,2,2023,97204,846
98,37544,M,1,rod farvard,1,2024,108752,771
99,37544,M,2,petter engdahl,3,2024,108752,369
100,37544,F,1,anna louden,3,2024,108752,623
101,37544,F,2,careth arnold,4,2024,108752,895
102,73545,M,1,hans troyer,2,2025,119682,456
103,73545,M,2,hannes namberger,3,2025,119682,725
104,73545,M,3,ryan montgomery,5,2025,119682,636
105,73545,F,1,marianne hogan,2,2025,119682,521
106,73545,F,2,keely henninger,3,2025,119682,952
107,73545,F,3,erin clark,4,2025,119682,462
108,14221,M,1,ludovic pommeret,4,2022,87878,642
109,14221,F,1,courtney dauwalter,1,2022,87878,302
110,14221,F,2,camille bruyas,2,2022,87878,730
111,14222,M,1,mathieu blanchard,2,2023,97204,303
112,14222,M,2,tom evans,3,2023,97204,597
113,14222,F,1,katie schide,1,2023,97204,486
114,14222,F,2,eszter csillag,5,2023,97204,762

In [33]:
athlete_id.to_csv('../data/master/golden_ticket_recipient_table_with_athlete_ID.csv')

In [44]:
df = pd.read_csv("../data/raw/utmb_format/festival_des_templiers_100K_df_raw.csv")

In [45]:
# Step 1: Filter out DNFs only
df_finished = df[df['Status'].str.upper() != 'DNF'].copy()

# Step 2: Sort by Race_ID, Gender, and Time
df_finished = df_finished.sort_values(by=['Race_ID', 'Gender', 'Time'])

# Step 3: Assign Gender_Rank
df_finished['Gender_Rank'] = df_finished.groupby(['Race_ID', 'Gender']).cumcount() + 1

# Step 4: Merge back using Race_ID and Name
df = df.merge(
    df_finished[['Race_ID', 'Name', 'Gender', 'Time', 'Gender_Rank']],
    on=['Race_ID', 'Name', 'Gender', 'Time'],
    how='left'
)

In [46]:
df

,Series_ID,Race_ID,Race_Date,Year,Rank,Status,Name,Nationality,Gender,Age_Category,Time,Race,Race_Loc,Race_Dist,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Gender_Rank
0,623.0,62321.0,10/22/2021,2021.0,1,Finisher,vincent viet,FRANCE,M,35-39,10:52:25,Festival des Templiers 100K,"Millau, France",100K,NaN,NaN,NaN,NaN,1.0
1,623.0,62321.0,10/22/2021,2021.0,2,Finisher,aurelien collet,FRANCE,M,40-44,11:03:54,Festival des Templiers 100K,"Millau, France",100K,NaN,NaN,NaN,NaN,2.0
2,623.0,62321.0,10/22/2021,2021.0,3,Finisher,clement desille,FRANCE,M,20-34,11:28:34,Festival des Templiers 100K,"Millau, France",100K,NaN,NaN,NaN,NaN,3.0
3,623.0,62321.0,10/22/2021,2021.0,4,Finisher,matthieu durand,FRANCE,M,20-34,11:30:12,Festival des Templiers 100K,"Millau, France",100K,NaN,NaN,NaN,NaN,4.0
4,623.0,62321.0,10/22/2021,2021.0,5,Finisher,romain olivier,FRANCE,M,35-39,11:30:18,Festival des Templiers 100K,"Millau, France",100K,NaN,NaN,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN